#gigya-search {
  width: 200%;
}

div.ccm-ui input {
  width: 85%;
}

.ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

.ui-menu {
  font-size: 13px;
}

.ui-autocomplete-loading {
  background: rgba(0, 0, 0, 0) url('/packages/go_gigya/images/ajax-loader.gif')
    no-repeat scroll right center;
}

#gigya-basic-details td,
#gigya-basic-details th {
  border: none;
}
p.header {
  padding-bottom: 17px;
}
p.header span {
  float: right;
  padding-right: 3px;
}