.cambridgeLogo, #footer [class^="icon"] {
  border: 0;
  font: 0/0 a !important;
  text-shadow: none;
  color: transparent;
  background-color: transparent; }

.cambridgeLogo:before, .icon-twitter:before, .icon-facebook:before, .icon-googlePlus:before, .icon-youtube:before {
  background-image: url("../images/sprite.png");
  background-image: linear-gradient(transparent, transparent), url("../images/sprite.svg");
  background-size: 530px 160px;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 40px;
  height: 40px; }

.cambridgeLogo {
  position: absolute;
  left: 0; }
  .cambridgeLogo:before {
    background-position: -340px -78px;
    width: 190px;
    height: 50px; }

.icon-twitter:before {
  background-position: -280px 0; }
.icon-twitter:hover:before {
  background-position: -280px -60px; }
.icon-facebook:before {
  background-position: -70px 0; }
.icon-facebook:hover:before {
  background-position: -70px -60px; }
.icon-googlePlus:before {
  background-position: -210px 0; }
.icon-googlePlus:hover:before {
  background-position: -210px -60px; }
.icon-youtube:before {
  background-position: -140px 0; }
.icon-youtube:hover:before {
  background-position: -140px -60px; }

/* ###########  GLOBAL STYLES  ########### */
body {
  text-align: center; }

h1, h2, h3, h4, p, a {
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility; }

h1, h2, h3, h4, .lead {
  font-weight: 300;
  letter-spacing: -0.02em; }

h2, .lead {
  margin-bottom: 30px; }

p {
  margin-bottom: 50px; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #F2F2F2; }

.btn {
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 600; }
  .btn.green {
    text-transform: capitalize;
    background-color: #466362;
    padding: 3px 10px;
    color: #FFF;
    border-radius: 15px;
    margin-left: 5px; }
  .btn-default {
    border-color: #323232; }

.white {
  color: #FFF; }

#about, #tour, #contact, #purchasing {
  padding: 60px 0; }

.noPadding {
  padding: 0 !important; }

.break {
  margin-bottom: 30px; }

.thicker-line-height {
  line-height: 1.9; }

a:focus {
  outline: none; }

.noPadding, .noPadding:before, .noPadding:after {
  padding: 0; }

/* ###########  GLOBAL STYLES  ########### */
/* ###########  LOGO AREA  ########### */
.branding {
  margin: 0 auto;
  text-align: center; }
  .branding svg {
    margin: 50px 0 30px;
    height: auto;
    max-width: 100%; }

.logo {
  position: relative; }

.logo > div + div + div {
  padding: 35px 0 10px;
  text-align: center; }

.navbar-default .navbar-nav > li > a:hover {
  background: none; }

/* ###########  LOGO AREA  ########### */
/* ###########  NAV-BAR  ########### */
.navbar {
  margin-bottom: 0;
  background-color: #F2F2F2;
  opacity: 0.8; }
  .navbar-nav {
    width: 100%;
    text-align: center;
    margin: 5.75px 0; }
    .navbar-nav li {
      font-size: 18px;
      padding: 0 5px;
      margin: 0 20px; }

.navbar,
.navbar-collapse,
.navbar-toggle {
  border: 0; }

/* ###########  NAV-BAR  ########### */
/* ###########  HOME  ########### */
#home,
#purchasing,
#video {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center; }

#purchasing,
#video {
  background-image: url("../images/bg.jpg"); }

#home {
  padding: 0 0 40px;
  background-image: url("../images/banner.jpg"); }
  #home .login {
    position: absolute;
    right: 60px;
    top: 30px; }
    #home .login-mobile {
      display: none; }
  #home h2 {
    margin: 100px 0 60px; }
  #home a:not(.btn) {
    color: #323232; }
    #home a:not(.btn):hover {
      color: #323232; }
  #home ul {
    padding: 0;
    list-style-position: inside; }
  #home .logo > div {
    position: relative; }
  #home .navbar-nav {
    margin: 0; }
    #home .navbar-nav li a {
      padding-top: 14.5px;
      padding-bottom: 14.5px; }
      #home .navbar-nav li a:hover {
        background-color: #d9d9d9; }
  #home > .row.container {
    margin: 0 auto; }

/* ###########  HOME  ########### */
/* ###########  ABOUT  ########### */
#about .panel {
  background-color: #E0E8EA;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto 40px;
  border-radius: 0;
  border: 1px solid #c2d1d5; }
  #about .panel p {
    margin: 0; }

/* ###########  ABOUT  ########### */
/* ###########  CONTACT  ########### */
#contact {
  background-color: #EDEEED; }
  #contact label {
    font-weight: 400;
    float: left; }
  #contact .btn {
    margin: 32px 0 0; }
  #contact p {
    max-width: 500px;
    margin: 30px auto 0;
    display: block; }

/* ###########  CONTACT  ########### */
/* ###########  FOOTER  ########### */
#footer {
  background-color: #6278A3; }
  #footer .container ul {
    margin: 30px 0;
    padding: 0; }
  #footer .container ul li {
    display: inline; }
    #footer .container ul li a {
      color: #FFF; }
  #footer > div:first-child li {
    margin: 0 8px; }
  #footer .container-fluid {
    background-color: #323232;
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px 20px;
    vertical-align: middle; }
    #footer .container-fluid p {
      margin: 0; }

/* ###########  FOOTER  ########### */
/* ###########  IE 10+  ########### */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #contact,
  #footer,
  #home {
    background-size: 250% 140%; } }
/* ###########  IE 10+  ########### */
/* ###########  MODAL  ########### */
.modal {
  text-align: left;
  font-size: 14px;
  line-height: 1.75em; }
  .modal button.close {
    font-size: 40px;
    font-weight: 300;
    opacity: 1;
    color: #fff;
    position: relative;
    right: 5%;
    top: 5%; }

.modal-header {
  border: 0; }

.modal-body input {
  display: block;
  width: 100%; }

.modal-fullscreen {
  background: transparent; }
  .modal-fullscreen .modal-content {
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .modal-fullscreen .modal-dialog {
    margin: 0 auto;
    width: 95%;
    margin-top: 90px;
    color: #fff; }

.modal-backdrop.modal-backdrop-fullscreen {
  background-color: #323232;
  opacity: 0.9; }
  .modal-backdrop.modal-backdrop-fullscreen.in {
    opacity: 0.98;
    filter: alpha(opacity=97); }

.modal-content button {
  margin-bottom: 20px; }
.modal-content a {
  color: #59becf; }
  .modal-content a:hover {
    color: #185a71; }

@media (min-width: 768px) {
  #modal-fullscreen .modal-dialog {
    width: 750px; }

  .modal-fullscreen .modal-dialog {
    width: 70%; } }
/* ###########  MODAL  ########### */
/* ###########  MEDIA QUERIES  ########### */
@media (min-width: 768px) {
  .navbar-nav li {
    display: inline-block;
    float: none; } }
@media (max-width: 767px) {
  .logo > div + div + div {
    visibility: hidden;
    padding: 0; }

  .navbar-nav li a {
    font-size: 18px;
    font-weight: 300; }

  .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-nav > li > a:hover {
    background-color: #323232;
    color: #ffffff; }

  .logo .col-md-3 {
    display: none; }

  .cambridgeLogo {
    display: none; }

  #home .login {
    display: none; }
    #home .login-mobile {
      display: block;
      position: absolute;
      top: -60px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); } }
@media (max-width: 559px) {
  body {
    font-size: 14px; }
    body h1,
    body h2 {
      font-size: 35px; }

  #home,
  #purchasing,
  #video {
    background-position: center center; }

  .btn.green {
    margin-top: 5px; } }
@media (min-width: 1200px) {
  .container {
    width: 860px; } }
/* ###########  MEDIA QUERIES  ########### */
/* ###########  BACK TO TOP ########### */
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(50, 50, 50, 0.8) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s; }

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s; }

.cd-top.cd-is-visible {
  visibility: visible;
  opacity: 1; }

.cd-top.cd-fade-out {
  opacity: .5; }

.no-touch .cd-top:hover {
  background-color: #323232;
  opacity: 1; }

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px; } }
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px; } }
/* ###########  BACK TO TOP ########### */

/*# sourceMappingURL=cambridgeMaths.css.map */
