.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
   color: #ffffff !important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
   background-color: #323232;
   color: #ffffff;
}
#home, #hero, #sample, #contact, #footer {
   background-size: 250% 140%;
}
