#search-box {
    width: 100% !important
}

.subs-name {
    width: 95%;
}

/* Progress bar */
#progress-bar {
    display: none;
    border: 1px solid gray;
    border-radius: 4px;
    position: relative;
}

#progress {
    position: absolute;
    left: 48%;
    bottom: 4%;
    font-weight: bold;
}

#bar {
    background-color: #B4F5B4;
    width: 0%;
    height: 20px;
    border-radius: 3px;
}

/* END */

/* User provisioning table */
tr.Registered, tr.Provisioned {
    color: #468847;
}

tr.Existing, tr.Provisioned .Subscriptionrenewed {
    color: #3a87ad;
}

tr.Validating, tr.SubscriptionError {
    color: #9a9797;
}

.table-block {
    opacity: 0.5;
    pointer-events: none;
}

/* END */

/* Pagination styles */
span.active {
    font-weight: bold;
}

.invisible {
    display: none;
}

/* ANZGO-3642 Added by John Renzo Sunico, 02/22/2018 */
.HMProvisionError {
    color: #ab3fdd;
}

.HMProvisionCompatibility {
    color: #0002db;
}

.HMProductProblem {
    color: #13b4ff;
}

.TNGProvisionError {
    color: #ae163e;
}

.AddedClass {
    color: orange;
}

.AddClassError {
    color: yellow;
}

.CreateHMUserError {
    color: palevioletred;
}

.AddedSchool {
    color: hotpink;
}

.AddSchoolError {
    color: deeppink;
}

.GigyaError {
    color: saddlebrown;
}

/* basic positioning */
.legend {
    list-style: none;
    margin: 0;
}

.legend-box {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.legend-box h4 {
    margin: 10px;
}

.legend li {
    margin-right: 10px;
    list-style: none;
}

.legend span {
    border: 1px solid #ccc;
    float: left;
    width: 12px;
    height: 12px;
    margin: 2px;
}

.legend .HMProvisionError {
    background-color: #ab3fdd;
}

.legend .HMProvisionCompatibility {
    background-color: #0002db;
}

.legend .HMProductProblem {
    background-color: #13b4ff;
}

.legend .TNGProvisionError {
    background-color: #ae163e;
}

.legend .Provisioned, .legend .Registered {
    background-color: #468847;
}

.legend .Existing {
    background-color: #3a87ad;
}

.legend .SubscriptionError {
    background-color: #9a9797;
}

.legend .Validating {
    background-color: #9a9797;
}

.legend .AddedClass {
    background-color: orange;
}

.legend .AddClassError {
    background-color: yellow;
}

.legend .CreateHMUserError {
    background-color: palevioletred;
}

.legend .AddedSchool {
    background-color: hotpink;
}

.legend .AddSchoolError {
    background-color: deeppink;
}

.legend .GigyaError {
    background-color: saddlebrown;
}

/* SB-674 Added by mtanada 20200827 */
.hideForm {
    visibility: hidden;
    overflow: hidden;
    width: 0px;
    height: 0px;
}


/* End */
