div.ccm-loading{
    background-image: url("../images/ajax_loading2.gif");
    background-repeat: no-repeat;
    height: 76px;
    margin: 0 auto;
    width: 100px;
}

div.ccm-warning {
    margin: 20px;
}

div#provision_wrapper{
    padding-bottom: 25px;
}

.summary{
    border: 1px dashed;
    height: 550px;
    overflow: auto;
    padding: 15px;
}

/** Serach styles**/
.content{
    width:900px;
    margin:0 auto;
}

#result{
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    display: none;
    font-size: 13px;
    margin-top: 3px;
    max-height: 240px;
    overflow-x: hidden;
    position: absolute;
    width: 384px;
    z-index: 100;
}

#result ul{
    list-style-type: none;
    margin: 9px;
}

#result ul li{
    border-bottom: 1px dashed gray;
    font-size: 12px;
    line-height: 20px;
    padding: 7px 5px;
}

#result ul li:hover{
    background-color: #ededed;
}

.show{
    padding:10px; 
    border-bottom:1px #999 dashed;
    font-size:15px; 
    height:50px;
}
.show:hover{
    background:#4c66a4;
    color:#FFF;
    cursor:pointer;
}

#search{
    background-repeat: no-repeat;
    height: 20px;
    margin: 3px;
    width: 20px;
    display: inline-block;
}

.search-icon{
    background-image: url("../images/search-icon.png");
}

.loading-icon{
    background-image: url("../images/loading-mini.gif");
}

#search_wrapper{
    border: 1px solid gray;
    float: left;
    height: 30px;
    width: 385px;
}

#search_product
{
    border: medium none;
    box-shadow: none;
    font-size: 13px !important;
    height: 27px;
    width: 350px;
}

tr.selected td{
    background-color: #e4e4e4 !important;
}

div.td_accesscode{
    width: 100px;
    word-wrap: break-word;
}

.account-created{
    color: #309505;
}

.account-exists{
    color: #b2b200;
}

.access-code-dont-exist{
    color: #BF5FFF;
}

.access-code-used{
    color: #CC0000;
}

.legend-span4{
    float: right !important;
    font-size: 15px !important;
}

.ccm-ui input.ccm-input-text{
    height: 30px !important;
}

.provision_checkbox{
    height: 23px !important;
    margin-left: 12px !important;
    width: 23px !important;
}

#check_all{
    height: 23px;
    margin-left: 12px;
    width: 23px;
}

.clearfix3{
    line-height: 25px;
    padding: 0 40px;
}

.text-label1{
    line-height: 20px;
}