#newuser input {
    border: 1px solid silver;
    font-size: 15px;
    width: 300px;
    height: 30px;
}

input {
    border: 1px solid #000;
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 11px;
}

#newuser td {
    font-size: 15px;
    padding-bottom: 2px;
    padding-top: 10px;
    line-height: 22px;
    text-align: left;
}

#newuser .field_heading {
    font-size: 15px;
    height: 18px;
    padding-right: 5px;
    text-align: right;
    vertical-align: middle;
    width: 150px;
}

#newuser{
    text-align: center;
}

#continue{
    background-color: #8ac007;
    border: 1px solid #8ac007;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 0;
    margin-top: 0;
    padding: 7px 13px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

#continue:hover{
    background-color: #ffffff;
    color: #8ac007;
}

#verifypassword_message_div{
    color: #d43f3a;
}