.cup-headline-viewer-frame{
	width: 100%;
	height: 110px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

.cup-headline-viewer-frame .cup-headline-item{
	
	height: 110px;
	margin-left: 20px;
}

.cup-headline-viewer-frame .cup-headline-item a.btn_more:link div.btn_more,
.cup-headline-viewer-frame .cup-headline-item a.btn_more:visited div.btn_more,
.cup-headline-viewer-frame .cup-headline-item a.btn_more:active div.btn_more,
.cup-headline-viewer-frame .cup-headline-item a.btn_more:hover div.btn_more{
	float: right;
	margin: 15px 10px 0px 0px;
	background: #fbd765;
	color: #000000;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	font-weight: bold;
	padding: 0px 8px;
}


.cup-headline-viewer-frame .cup-headline-item h5{
	margin: 0px 40px 0px 0px;
	padding: 15px 0px 5px 0px;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	color: #333333;
}

.cup-headline-viewer-frame .cup-headline-item p{
	margin: 0px 40px 0px 0px;
	padding: 0px;
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	color: #333333;
}