/* ARTIKULO UNO */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 1.42857143;
    background-color: #D3D8D3;
    color: #4C4C48;
    font-weight: 300;
}
nav div {
    border: 0;
}
h1, h2 {
   font-weight: 300;
   text-transform: uppercase;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 36px;
}
.form-control {
    border-radius: 5px;
}
.btn {
    border-radius: 10px;
    font-size: 18px;
    color: #FFFFFF;
    border-width: 0 0 4px;
}
.btn.green {
    background-color: #8ABE1D;
    border-bottom: 4px solid #6A9908;
    padding: 15px 60px;
    min-width: 200px;
}
.btn.green:hover {
    background-color: #A1D730;
}
.btn.green:active, .btn.blue:active {
    border-width: 0;
    position: relative;
    top: 4px;
    color: #FFF;
}
.btn.green:focus, .btn.blue:focus, a:focus {
    outline: 0;
    color: #FFF;
}
.btn.blue {
    background-color: #0091E6;
    border-bottom: 4px solid #006AC3;
    padding: 15px 30px;
}
.btn.blue:hover {
    background-color: #36ADF3;
}
.btn-default:hover {
    color: #4C4C48;
}
input[type="checkbox"] {
    top: -1px;
}

.btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled.focus, .btn-default.focus[disabled], fieldset[disabled] .btn-default.focus {
   background-color: #8ABE1D;
   border-bottom: 4px solid #6A9908;
}

.icon {
   border:0;
   font: 0/0 a !important;
   text-shadow: none;
   color: transparent;
   background-color: transparent;
}
.icon:before {
   background-image: url('/packages/go_theme/elements/img/activate_sprite.png'); /* IE 8 Fallback */
   background-image: linear-gradient(transparent, transparent), url('/packages/go_theme/elements/svgs/activate_sprite.svg');
   background-repeat: no-repeat;
   background-size: 890px 437px;
   content: "";
   display: inline-block;
   position: relative;
   vertical-align: middle;
}
/* ARTIKULO UNO */


/* NAV */
.navbar {
    background: #005158;
    border: 0;
}
.navbar-toggle {
    border: 0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
#main-nav {
    border: 0;
    -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0.1) inset;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.1) inset;
}
.navbar-default .navbar-nav > li > a {
    color: #FFF;
    text-transform: uppercase;
    font-size: 16px;
    padding: 35px;
    text-align: center;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
}
.navbar > .container-fluid .navbar-brand {
    margin-left: 10px;
    padding-bottom: 35px;
    padding-top: 35px;
}
.navbar-brand img {
    left: -40px;
    position: relative;
    top: -35px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: none;
}
/* NAV */


/* MAIN */
#main {
    text-align: center;
}
.form-inline.activate .form-control {
    width: 90px;
}
#main .activate .form-group {
    display: inline-block;
}
#main .form-group.login > .form-group {
    padding: 0 30px;
}
#main h2 {
    margin-bottom: 30px;
}
#main .checkbox, #main .forgot {
    font-size: 14px;
    font-weight: 400;
}
#main p {
    margin: 30px 0;
}
#main h1 {
    margin: 120px 0 30px;
}
#main input.form-control {
    height: 50px;
}
#main .new-account {
    margin-bottom: 60px;
}
#main .new-account .btn {
    margin: 10px 5px !important;
}
#main .new-account p {
    margin: 30px 0 5px;
}
#main.container-fluid {
    margin-bottom: 36px;
}
.form-inline input {
   text-align: center;
}
/* MAIN */

/* MODAL */
.modal-dialog {
    width: 80%;
}
.modal-body {
   text-align: center;
}
h3.modal-title {
   font-size: 28px;
   font-weight: 100;
   margin: 30px 0 5px;
}
ul.logos {
   list-style: outside none none;
   /*margin: 60px 0 10px;*/
   padding: 0;
}
ul.logos li {
   display: inline;
}
.modal-content .icon:before {
   margin: 5px 30px 30px;
}
.hotmaths.icon:before {
   background-position: 0 -11px;
  width: 302px;
  height: 45px;
}
.essential.icon:before {
   background-position: -275px -272px;
  width: 255px;
  height: 42px;
}
.senior.icon:before {
   background-position: 0 -275px;
  width: 234px;
  height: 39px;
}
.go.icon:before {
   background-position: -522px -14px;
  width: 180px;
  height: 42px;
}
.dscience.icon:before {
   background-position: -743px -14px;
  width: 147px;
  height: 42px;
}
.denglish.icon:before {
   background-position: -570px -176px;
  width: 224px;
  height: 52px;
}
.modal-body .subtitle {
   /*font-size: 20px;*/
   font-weight: 400;
   margin: 50px 0 30px;
   text-transform: uppercase;
}
.modal-body .faint {
   font-size: 20px;
}
.close {
   font-size: 40px;
   font-weight: 300;
   opacity: 0.8;
   position: absolute;
   right: 25px;
}
/* MODAL */

/* ACITVATION */
#activated, #activated-icon {
   /* position: absolute; */
}
#activated.in, #activated-icon.in {
   /* position: relative; */
   width: 50%;
   margin: 0 auto;
}
.fade.in.field-remove {
   position: relative;
}
.fade.field-remove {
   position: absolute;
}
/* ACITVATION */


/* VALIDATION ERRORS */
.field-error {
    background-color: #FFE8E5;
    border: 1px solid #BC583F;
}
.alert-danger {
    background-color: #BC583F;
    color: #FFF;
    margin: 20px 0 5px;
}
.alert-success {
   background-color: #8ABE1D;
   color: #FFF;
}
.alert a {
    color: #FFC856;
    text-decoration: underline;
}
.alert {
   border: 0;
}
/* VALIDATION ERRORS */


/* FOOTER */
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -198px;
}
.page-wrap:after {
    content: "";
    display: block;
}
.footer, .page-wrap:after {
    /* .push must be the same height as footer */
    min-height: 122px;
}
.footer-logo {
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer-links {
    font-size: 12px;
    background-color: #2B342C;
    font-size: 12px;
}
.footer ul, .footer-logo ul {
    list-style: outside none none;
    text-align: center;
    margin: 10px 0;
    padding: 0;
}
.footer ul li {
    display: inline-block;
}
.footer ul li a {
    color: #D9DDE1;
    margin: 0 30px;
    padding: 10px 0;
    display: inline-block;
}

.bw-hotmaths.icon:before {
   background-position: 0 -353px;
  width: 208px;
  height: 31px;
}
.bw-powered.icon:before {
   background-position: -238px -344px;
  width: 99px;
  height: 40px;
}
.bw-go.icon:before {
   background-position: -367px -354px;
  width: 130px;
  height: 30px;
}
.bw-dscience.icon:before {
   background-position: -527px -354px;
  width: 107px;
  height: 30px;
}
.bw-denglish.icon:before {
   background-position: -664px -346px;
  width: 167px;
  height: 38px;
}
.footer-logo .icon:before {
   /* margin: 10px 30px; */
}
/* FOOTER */

@media (max-width: 340px) {
    .navbar-brand {
        position: absolute;
    }
}
@media (max-width: 384px) {
    .btn.blue {
        padding: 15px;
    }
}
@media (max-width: 434px) {
    #main .form-group {
        display: block;
        text-align: center;
    }
    #main .form-group input {
        width: 100%;
    }
    h1, h2, #main p:first-child {
        margin-top: 15px !important;
   }
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 26px;
    }
    #activated.in, #activated-icon.in {
      width: 80%;
   }
}
@media (min-width: 931px) {
    .navbar-default .navbar-nav > li > a {
        padding: 35px;
    }
}
@media (max-width: 930px) {
    .navbar-default .navbar-nav > li > a {
        padding: 35px 28px;
    }
}
@media (max-width: 875px) {
    .navbar-default .navbar-nav > li > a {
        padding: 35px 19px;
    }
}
@media (max-width: 809px) {
    .navbar-default .navbar-nav > li > a {
        padding: 35px 14px;
    }
}
@media (max-width: 767px) {
    .navbar-header {
        margin: 20px 0;
    }
    #main-nav {
       margin: 30px 0 0;
    }
    .navbar-default .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        padding: 20px 0;
        margin-top: -7px;
    }
    .footer ul li a {
        margin: 0 15px;
    }
    .container-fluid > .navbar-header {
        margin-left: 0;
        margin-right: 0
    }
    #main h1 {
        margin: 60px 0 30px;
    }
    .navbar-toggle {
        margin-right: 8px;
    }
    .modal-dialog {
        width: 100%;
        margin: 0 auto;
    }
    .modal-content {
      border-radius: 0;
   }
}

/* ANIMATIONS */


/* Bounce To Top */

.hvr-bounce-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.hvr-bounce-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0B7D86;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
    color: white;
}
.hvr-bounce-to-top:hover:before, .hvr-bounce-to-top:focus:before, .hvr-bounce-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* ANZGO-3755 Added by Shane Camus 06/14/18 */
#header-user {
    color: white;
    background: #8abe1d;
}

#header-user:hover {
    color: #364e04;
    background: #96cf20;
}

#error-message, #activated {
    display: none;
}

#login-error-message {
    display: none;
}

/* ANZGO-2851 */
.svg-lg {
    height: 64px;
    width: 64px;
}

#main #activate-login {
    margin: 10px;
}

/* ANZGO-3789 added by jbernardez 20180706 */
.announce-info {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 950;
    opacity: 0.9; 
    color: #4D4D4D;
    font-weight: 100;
    font-family: "Lato",sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
}

.announce-info * {
    color: #FFFFFF;
    text-decoration: none !important; 
}

.announce-info a:hover {
    color: #FFFFFF; 
}

.announce-info h1, h2 {
   font-size: 24px;
   text-transform: capitalize;
}

#cookie-info-warning-sign, #dismiss-cookie-svg {
    height: 32px;
    width: 32px;
}

.svg-text {
    bottom: 10px;
    position: relative;
}

#announce-info-dismiss-text {
    font-weight: 600;
}

.btn.gray {
    background-color: #D3D3D3;
    border-bottom: 4px solid #C3C3C3;
    padding: 15px 60px;
    min-width: 200px;
}

/* SB-202 modified by machua 20190611 */
.hvr-grow:hover {
    text-decoration: none;
}

.activate-img-icon {
    vertical-align: -webkit-baseline-middle;
    margin: 0px 25px;
}

/* SB-209 added by jbernardez 20190617 */
#chatBoxContent {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.botTextSpanLeft {
    line-height: 20px;
    font-weight: 400;
}

/* SB-217, SB-218 modified by mabrigos 20190608*/
.linkblue, #chatboxInputBtn {
    font-family: 'Verdana', sans-serif;
    letter-spacing: 0.5px;
}

.linkblue {
    line-height: 20px;
    text-decoration: none;
    font-weight: 600;
}

#chatboxPanel {
    border-radius: 15px !important;
}

#chatboxTopbar {
    border-top-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
}

.botTextSpanCenter {
    border-radius: 22.5px !important;
}

/* SB-220 added by machua 20190618 */
#chatboxInputBtn {
	-webkit-appearance: button;
}

/* SB-222 added by machua */
#chatboxInput {
	font-family: "Verdana", sans-serif;
}
