/*
 * Autocomplete styling
 */
.institute-panel, .institute-panel-loading {
    margin-top: -13px !important;
    border: 1px solid #a1aacc !important;
    border-radius: 3px !important;
    position: absolute;
    z-index: 1;
    background-color: white;
    font: 400 14px/1 'Muli', sans-serif;
    overflow-y: scroll;
    max-height: 500px;
}

.institute-element, .institute-element-no-result, .institute-element-loading {
    margin: 0;
    border: 1px solid #a1aacc !important;
    padding: 3px !important;
    font-weight: bold;
}

.institute-element, .institute-element-no-result {
    cursor: pointer;
}

.institute-element:hover, .institute-element-no-result:hover {
    background-color: #b6bdc5;
}

.institute-address {
    font-size: 11px;
    font-color: lightgray;
    font-weight: normal;
}

.institute-search-loading {
    background : url('/packages/go_theme/elements/img/load-transparent.gif') no-repeat right center !important;
    background-size: 20px !important;
}
