.headingsContainer {

	width: 150px; height: 100px;
	padding: 10px;
	border: 1px solid #cde3bb;
	border-radius: 10px;
	margin-left: 10px;
	display: block;

}	

ul#main-dashboard {	

	margin: 0;
	padding: 0;
	list-style-type: none;		



}		


ul#main-dashboard li {	
	display: inline;



	width: 150px; height: 300px;
	padding: 10px;
	border: 1px solid #cde3bb;
	border-radius: 10px;
	margin-left: 10px;
	
}		

	
