#search-box {
    width: 100% !important
}

.subs-name {
    width: 95%;
}

/* Progress bar */
#progress-bar {
    display: none;
    border: 1px solid gray;
    border-radius: 4px;
    position: relative;
}

#progress {
    position: absolute;
    left: 48%;
    bottom: 4%;
    font-weight: bold;
}

#bar {
    background-color: #B4F5B4;
    width: 0%;
    height: 20px;
    border-radius: 3px;
}

/* END */

.table-block {
    opacity: 0.5;
    pointer-events: none;
}

/* END */

/* Pagination styles */
span.active {
    font-weight: bold;
}

.invisible {
    display: none;
}

/* ANZGO-3642 Added by John Renzo Sunico, 02/22/2018 */
.Processing {
    color: #8fde74;
}

.Provisioned, .Registered {
    color: #468847;
}

.HMProvisioned {
    color: #466688;
}

.Existing {
    color: #886846;
}

.InvalidUser {
    color: #9a9797;
}

.TNGProvisionError {
    color: #ae163e;
}

.HMProvisionCompatibility {
    color: #884687;
}

.HMProductProblem {
    color: #c4a3c3;
}

.AddClassError {
    color: #d5a80f;
}

.HMProvisionError {
    color: #ab3fdd;
}

/* basic positioning */
.legend {
    list-style: none;
    margin: 0;
}

.legend-box {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.legend-box h4 {
    margin: 10px;
}

.legend li {
    margin-right: 10px;
    list-style: none;
}

.legend span {
    border: 1px solid #ccc;
    float: left;
    width: 12px;
    height: 12px;
    margin: 2px 15px 2px 2px;
}

.legend .Processing {
    background-color: #8fde74;
}

.legend .Provisioned {
    background-color: #468847;
}

.legend .HMProvisioned {
    background-color: #6897c8;
}

.legend .Existing {
    background-color: #886846;
}

.legend .InvalidUser {
    background-color: #9a9797;
}

.legend .TNGProvisionError {
    background-color: #ae163e;
}

.legend .HMProvisionCompatibility {
    background-color: #884687;
}

.legend .HMProductProblem {
    background-color: #c4a3c3;
}

.legend .AddClassError {
    background-color: #d5a80f;
}

.legend .HMProvisionError {
    background-color: #466688;
}

/* End */
