@charset "UTF-8";
/* CSS Document */

.cupglobal-sub-menu {
	border-right: 1px solid #c2dee3;
	height: 100%;
	}

.cupglobal-sub-menu .item {
	background-color: #ebf4f6;
	border: 1px 0 #c2dee3;
	padding: 8px;
}
	
.cupglobal-sub-menu .item:hover {
	background-color: #c2dee3;
}
	
.cupglobal-sub-menu .item h3 {
	color: #777777;
	font-size: 14px;
	padding: 0;
	margin: 0;
}
.cupglobal-sub-menu .item h3 a, 
.cupglobal-sub-menu .item h3 a:link, 
.cupglobal-sub-menu .item h3 a:visited, 
.cupglobal-sub-menu .item h3 a:hover, 
.cupglobal-sub-menu .item h3 a:active, 
.cupglobal-sub-menu a:hover  {
	color: #777777; 
	background-color: transparent!important;
}
.cupglobal-sub-menu .active {
	background-color: #c2dee3;
	}
.cupglobal-sub-menu .spacer {
	height: 5px; 
	width: 1px;
	}


.cup-content-area-main {
	color: #333333;
	}

.cup-content-area-main a, 
.cup-content-area-main a:link, 
.cup-content-area-main a:visited {
	color: #333333; 
	font-weight: bold; 
	text-decoration: none;
	}
.cup-content-area-main a:hover, 
.cup-content-area-main a:active {
	background-color: #f9d55b;
	}
.cup-content-area-main a.plain:hover, 
.cup-content-area-main a.plain:active {
	background-color: none; 
	text-decoration: underline;
	}

.cup-content-area-main h2 {
	font-size: 16px; 
	font-weight: bold;
	}

.cup-menu-frame a, 
.cup-menu-frame a:link, 
.cup-menu-frame a:visited,  
.cup-menu-frame a:hover {
	font-weight: normal;
}