/* cup-content-simple-heading */
.cup-content-simple-heading{
	position: relative;
}

.cup-content-simple-heading .guide_line{
	height: 32px;
	border-bottom: 2px solid #333333;
	text-align: right;
	background: #FDFDFD;
}

.cup-content-simple-heading .guide_line .simple-search-frame{
	float: right;
	border: 2px solid #333333;
	background: #333333;
}

.cup-content-simple-heading .guide_line .simple-search-frame .input_frame{
	background: #FFFFFF;
	height: 28px;
	margin: 0px 32px 0px 1px;
}

.cup-content-simple-heading .guide_line .simple-search-frame .input_frame input{
	margin: 0px 10px;
	padding: 0px;
	height: 24px;
	width: 200px;
	border: 2px solid #FFFFFF;
	color: #333333;
}

.cup-content-simple-heading .guide_line .simple-search-frame .input_frame input.empty{
	color: #808080;
}

.cup-content-simple-heading .guide_line .simple-search-frame button.search{
	float: right;
	width: 28px;
	height: 28px;
	background: url(images/btn_search_28.png) -2px -2px no-repeat #FFFFFF;
	/* border: 0px; */
	padding: 0px;
	margin: 0px 1px 0px 0px;
	cursor: pointer;
}


.cup-content-simple-heading .btn_primary{
	position: absolute;
	top: 0px;
	left: 30px;
	
	background: #FBD766;
	color: #FFFFFF;
	text-align: center;
	width: 180px;
	height: 45px;
	border: 2px solid #333333;
}

.cup-content-simple-heading .btn_secondary{
	position: absolute;
	top: 0px;
	left: 244px;
	
	background: #FBD766;
	color: #FFFFFF;
	text-align: center;
	width: 180px;
	height: 45px;
	border: 2px solid #333333;
}

.cup-content-simple-heading .btn_primary.active .value,
.cup-content-simple-heading .btn_secondary.active .value{
	background: #F9D55B;
	color: #333333;
	font-size: 24px;
	font-family: 'netto_otregular';
}

.cup-content-simple-heading .btn_primary  .value,
.cup-content-simple-heading .btn_secondary  .value{
	background: #333333;
	color: #FFFFFF;
	text-align: center;
	width: 180px;
	font-size: 24px;
	line-height: 30px;
	height: 32px;
	font-family: 'netto_otregular';
}

.cup-content-simple-heading .subject_list_frame{
	display: none;
}



.cup-content-simple-heading .subject_list_frame{
	position: absolute;
	top: 34px;
	left: 0px;
	border: 2px solid #333333;
	border-top: 0px;
	width: 451px;
	display: none;
}

.cup-content-simple-heading .subject_list_frame .subjects{
	display: none;
}

.cup-content-simple-heading .subject_list_frame .subjects .title{
	border: 0px;
	border-top: 15px solid #F9D55B;
	background: #333333;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 0px;
	padding-left: 15px;
	margin: 0px;
	height: 28px;
	line-height: 28px;
}

.cup-content-simple-heading .subject_list_frame .subjects .list{
	background: #333333;
	height: 280px;
}

.cup-content-simple-heading .subject_list_frame .subjects .list .section{
	float: left;
	width: 225px;
	height: 100%;
	background: #FFFFFF;
}

.cup-content-simple-heading .subject_list_frame .subjects .list .section.end{
	margin-left: 1px;
}

.cup-content-simple-heading .subject_list_frame .subjects .list .section ul{
	margin: 0px;
	padding: 0px;
	padding-top: 15px;
}

.cup-content-simple-heading .subject_list_frame .subjects .list .section ul li{
	list-style: none;
	padding: 4px 0px 4px 33px;
	background: url(images/list-icon-dark-18.png) no-repeat 10px 3px;
	font-size: 14px;
	line-height: 18px;
	
	color: #333333;
	font-weight: normal;
}

.cup-content-simple-heading .btn_department_frame .subject_list_frame .subjects .list .section ul li:hover{
	background: url(images/list-icon-dark-18.png) no-repeat 10px 3px #F9D55B;
}

.cup-content-simple-heading .subject_list_frame .subjects .list .section ul li a:link,
.cup-content-simple-heading .subject_list_frame .subjects .list .section ul li a:active,
.cup-content-simple-heading .subject_list_frame .subjects .list .section ul li a:visited{
	color: #333333;
	background: transparent;
	font-weight: normal;
}

.cup-content-simple-heading .subject_list_frame .subjects .list .section ul li a:hover{
	color: #333333;
	background: transparent;
	font-weight: normal;
}

.cup-content-simple-heading .subject_list_frame .subjects .foot{
	height: 28px;
	background: #333333;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	line-height: 28px;
	text-align: right;
	padding: 0px 2px;
}

.cup-content-simple-heading .subject_list_frame .subjects .foot .btn_browse_all{
	float: right;
	width: 95px;
	background: url('images/white_arrow_right_12.png') no-repeat right center; 
	padding-right: 20px;
}

.cup-content-simple-heading .subject_list_frame .subjects .foot .btn_browse_all a,
.cup-content-simple-heading .subject_list_frame .subjects .foot .btn_browse_all a:link,
.cup-content-simple-heading .subject_list_frame .subjects .foot .btn_browse_all a:visited,
.cup-content-simple-heading .subject_list_frame .subjects .foot .btn_browse_all a:active{
	height: 28px;
	color: #FFFFFF;
	background: transparent;
}

.cup-content-simple-heading .subject_list_frame .subjects .foot .btn_browse_all a:hover{
	height: 28px;
	color: #F9D55B;
	text-decoration: none;
}






.cup-content-simple-heading-page-title{
	font-size: 20px;
	font-weight: bold;
	font-family: PT Sans;
	color: #333333;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 40px;
	padding-bottom: 8px;
	background: #EBF4F6;
	border-bottom: 15px solid #3392a1;
}

.cup-content-simple-heading-page-title h1{
	font-size: 20px;
	font-weight: bold;
	font-family: PT Sans;
	color: #333333;
	padding: 0px;
	margin: 0px;
}