.cup_core_commerce_cart_header{
	border-top: 1px solid #333333;
	
}

.cup_core_commerce_cart_header .title{
	background: #ebf4f6;
	border-bottom: 10px solid #3392a1;
}

.cup_core_commerce_cart_header .title .spacer1{
	width: 100%;
	height: 45px;
}

.cup_core_commerce_cart_header .title .spacer2{
	width: 100%;
	height: 10px;
}

.cup_core_commerce_cart_header .title h1{
	color: #333333;
	padding: 0px 30px;
	font-size: 18px;
	font-weight: bold;
	font-family: PT Sans;
}

.cup_core_commerce_cart_header .breadcrumb{
	margin: 0px 20px;
	padding-bottom: 15px;
}

.cup_core_commerce_cart_header .breadcrumb .item{
	float: left;
	width: 205px;
	margin: 0px;
	margin-left: -15px;
	height: 41px;
	display: inline-block;
	line-height: 41px;
	font-size: 15px;
	font-weight: bold;
	font-family: PT Sans;
	color: #9ac9d0;
	background: url(../images/core_commerce/breadcrumb_full.png) no-repeat;
}

.cup_core_commerce_cart_header .breadcrumb .item.step{
	float: left;
	width: 205px;
	margin: 0px;
	margin-left: -15px;
	height: 41px;
	display: inline-block;
	line-height: 41px;
	font-size: 15px;
	font-weight: bold;
	font-family: PT Sans;
	color: #FFFFFF;
	background: url(../images/core_commerce/breadcrumb_full.png) 0px -41px no-repeat;
}

.cup_core_commerce_cart_header .breadcrumb .item.first{
	float: left;
	width: 205px;
	margin: 0px;
	margin-left: -15px;
	height: 41px;
	display: inline-block;
	line-height: 41px;
	font-size: 15px;
	font-weight: bold;
	font-family: PT Sans;
	color: #9ac9d0;
	background: url(../images/core_commerce/breadcrumb_full.png) 0px -82px no-repeat;
}

.cup_core_commerce_cart_header .breadcrumb .item.first.step{
	float: left;
	width: 205px;
	margin: 0px;
	margin-left: -15px;
	height: 41px;
	display: inline-block;
	line-height: 41px;
	font-size: 15px;
	font-weight: bold;
	font-family: PT Sans;
	color: #FFFFFF;
	background: url(../images/core_commerce/breadcrumb_full.png) 0px -123px no-repeat;
}

.cup_core_commerce_cart_header .breadcrumb .item .text{
	margin-left: 38px;
	height: 41px;
	line-height: 41px;
	font-size: 15px;
	font-weight: bold;
	font-family: PT Sans;
	/* color: #9ac9d0; */
}

.cup_core_commerce_cart_header .breadcrumb .item.first .text{
	margin-left: 28px;
	height: 41px;
	line-height: 41px;
	font-size: 15px;
	font-weight: bold;
	font-family: PT Sans;
	/* color: #9ac9d0; */
}

.clr{
	clear: both;
}

.cup_core_commerce_cart_header .breadcrumb .spacer{
	
	width: 100%;
	height: 5px;
}


.cup_page_bottom_spacer{
	clear: both;
	width: 100%;
	height: 20px;
}







#ccm-core-commerce-checkout-cart{
	padding: 15px;
}

#ccm-core-commerce-checkout-cart table.ccm-core-commerce-cart{

}

#ccm-core-commerce-checkout-cart table.ccm-core-commerce-cart th{
	border-top: 1px solid #d1e6ea;
	border-bottom: 1px solid #d1e6ea;
}

#ccm-core-commerce-checkout-cart table.ccm-core-commerce-cart td{
	border-bottom: 1px solid #d1e6ea;
}

#ccm-core-commerce-checkout-form-billing,
#ccm-core-commerce-checkout-form-payment-method,
.ccm-core-commerce-checkout-form{
	margin: 0px 30px;
}

.ccm-core-commerce-checkout-form .ccm-core-commerce-checkout-form{
	margin: 0px 0px;
}

#ccm-core-commerce-checkout-form-billing h1,
#ccm-core-commerce-checkout-form-shipping h1,
.ccm-core-commerce-checkout-form h1{
	display: none;
}


#ccm-core-commerce-checkout-form-billing.ccm-core-commerce-checkout-form{
	color: #333333;
}

#ccm-core-commerce-checkout-form-billing.ccm-core-commerce-checkout-form table,
#ccm-core-commerce-checkout-form-shipping.ccm-core-commerce-checkout-form table,
#ccm-core-commerce-checkout-form-payment.ccm-core-commerce-checkout-form table,
.ccm-core-commerce-checkout-form table{
	border: 0px;
}

#ccm-core-commerce-checkout-form-billing.ccm-core-commerce-checkout-form form label,
.ccm-core-commerce-checkout-form form label{
	color: #333333;
}

#ccm-core-commerce-checkout-form-billing.ccm-core-commerce-checkout-form form input,
.ccm-core-commerce-checkout-form form input{
	margin: 0px;
}

#ccm-core-commerce-checkout-form-billing.ccm-core-commerce-checkout-form form input[type="text"],
#ccm-core-commerce-checkout-form-billing.ccm-core-commerce-checkout-form form select,
.ccm-core-commerce-checkout-form form input[type="text"],
.ccm-core-commerce-checkout-form form select{
	border: 1px solid #c2dee3;
	background: #FFFFFF;
}

#ccm-core-commerce-checkout-form-billing.ccm-core-commerce-checkout-form form input[type="text"]:focus,
#ccm-core-commerce-checkout-form-billing.ccm-core-commerce-checkout-form form select:focus,
.ccm-core-commerce-checkout-form form input[type="text"]:focus,
.ccm-core-commerce-checkout-form form select:focus{
	background: #C2DEE3;
}

#ccm-core-commerce-checkout-form-billing.ccm-core-commerce-checkout-form form .control-group fieldset,
.ccm-core-commerce-checkout-form form .control-group fieldset{
	border: 0px;
}

span.ccm-required{
	color: #ea6b3d;
}


.ccm-core-commerce-profile-address-save{
	padding-top: 5px;
}

.ccm-core-commerce-profile-address-save .ccm-input-checkbox{
	margin-left: 8px;
}




.ccm-core-commerce-cart-buttons{

}




/*
.cup_core_commerce_cart_errors{
	margin: 0px 20px;
	padding-bottom: 20px;
}

.cup_core_commerce_cart_errors ul{
	padding: 0px;
	margin: 0px;
}

.cup_core_commerce_cart_errors li{
	margin: 0px 20px;
	color: #EA5723;
	font-size: 14px;
}
*/


.payment_credit_cards{

	margin: 0px 30px 5px 30px;
	/*width: 130px;*/
	height: 32px;
	background: url(../images/ccards.gif) no-repeat right center;
	width:90px;
}





/* Jade */
.cup-content-master-frame .main-content-frame .detail-info-frame .detail-content .item p{
	margin: 0;
}

tr.ccm-core-commerce-cart-subtotal td{
	background-color: #EBF4F6!important;
}

div.ccm-core-commerce-checkout-form table td{
	background-color: #ebf4f6!important; 
	padding: 8px 20px 8px 15px!important;
}



fieldset{
	border-top: 1px solid #d1e6ea;
}




#ccm-core-commerce-checkout-cart table.ccm-core-commerce-cart th {
	text-transform: uppercase;
	border-bottom: 1px solid #D1E6EA!important;
}

tr.ccm-core-commerce-cart-subtotal td {
	background-color: #EBF4F6;
}

div.ccm-core-commerce-checkout-form table td {
	background-color: #EBF4F6; padding: 8px 20px 8px 15px;
}

.ccm-attribute-address-line label {
	padding-top: 10px; 
	padding-right: 6px; 
	text-transform: uppercase; 
	color: #000000!important; 
	display: block;
}
}

.ccm-attribute-address-line input.ccm-input-text[name$=\[city\]]{
	width: 213px;
}

.ccm-attribute-address-line input.ccm-input-text[name$=\[postal_code\]]{
	width: 213px;
}












.ccm-core-commerce-order-shipping table td, .ccm-core-commerce-order-billing table td{
	border: 1px solid #D1E6EA!important;
}

.ccm-core-commerce-order-shipping label, .ccm-core-commerce-order-billing label{
	background-color: #EBF4F6!important;
}

table.ccm-results-list tr th{
	background-color: #EBF4F6!important;
}

table.ccm-results-list tr.ccm-list-record td, table.ccm-results-list tr.ccm-list-record-no-hover td{
	border-bottom: 1px solid #D1E6EA!important;
}

table.ccm-results-list tr.ccm-list-record-alt td, table.ccm-results-list tr.ccm-row-alt td{
	background-color: #FFFFFF!important;
	border-bottom: 1px solid #D1E6EA;
}

table.ccm-results-list th, table.ccm-results-list td{
	border-top: 0!important;
}








/* request on 2013-03-27 */
.ccm-input-checkbox {
	-ms-transform: scale(2,2); /* IE */
	-moz-transform: scale(2,2); /* FF */
	-webkit-transform: scale(2,2); /* Safari and Chrome */
	-o-transform: scale(2,2); /* Opera */
	margin: 10px!important;
	vertical-align: bottom;
}

#ccm-core-commerce-checkout-form-shipping > form > div {
	padding-bottom: 15px;
}
#ccm-core-commerce-checkout-form-shipping > form > div > label {
	font-size: 150%;
}
