.cup-mask{

}

.cup-mask .image-loading{
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../images/ajax_loading.gif);
}

.clr{	clear: both;	}

.empty{	width: 0px;	height: 0px; }

.border-line-bottom{
	border-bottom: 1px solid #C2DEE3;
}

.h30_spacer{
	height:30px;
	width: 100%;
}

.h50_spacer{
	height:50px;
	width: 100%;
}

.bg_light_blue2{	background: #EBF4F6;	}


.formats_frame{

}

.formats_frame img{
	margin-right: 5px;
}


div.cup_pagination{
	margin:0px 20px;
	padding:0px;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	/*height: 30px;*/
}

div.cup_pagination span{
	padding: 5px;
	list-style: none;
	display: inline;
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	color: #999999;
}

div.cup_pagination span a{
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	color: #333333;
}

div.cup_pagination span.current_page{
	color: #333333;
	background: #F9D55B;
}

div.cup_pagination div.page_size{
	float: right;
	line-height: 30px;
	font-size: 14px;
}

div.cup_pagination div.page_size select{
	width: 50px;
	border: 1px solid #C2DEE3;
}



.cup_format_detail_info{
	min-height: 50px;
}

.cup_format_detail_info .img_frame{
	width:50px;
	padding: 0px 0px 10px 0px;
	text-align: center;
	float: left;
}

.cup_format_detail_info .info_frame{
	min-height: 1px;
	margin-left: 55px;
}

.cup_format_detail_info .info_frame .title{
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}

.cup_format_detail_info .info_frame .description{
	color: #333333;
}




.cup_author_detail_info{

}

.cup_author_detail_info .title{
	font-size: 14px;
	font-weight: bold;
}

.cup_author_detail_info .biography{

}



.cup_series_detail_info{

}

.cup_series_detail_info .title{
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 10px;
	color: #333333;
}

.cup_series_detail_info .description{
	font-size: 10px;
	font-weight: normal;
	color: #333333;
}


/* cup-content-simple-heading */
.cup-content-simple-heading{
	position: relative;
}

.cup-content-simple-heading .guide_line{
	height: 32px;
	border-bottom: 2px solid #333333;
	text-align: right;
	background: #FDFDFD;
}

.cup-content-simple-heading .guide_line .simple-search-frame{
	float: right;
	border: 2px solid #333333;
	background: #333333;
}

.cup-content-simple-heading .guide_line .simple-search-frame .input_frame{
	background: #FFFFFF;
	height: 28px;
	margin: 0px 32px 0px 1px;
}

.cup-content-simple-heading .guide_line .simple-search-frame .input_frame input{
	margin: 0px 10px;
	padding: 0px;
	height: 24px;
	width: 200px;
	border: 2px solid #FFFFFF;
	color: #333333;
	font-size: 20px;
}

.cup-content-simple-heading .guide_line .simple-search-frame .input_frame input.empty{
	color: #808080;
	font-size: 20px;
}

.cup-content-simple-heading .guide_line .simple-search-frame button.search{
	float: right;
	width: 28px;
	height: 28px;
	background: url(../images/btn_search_28.png) -2px -2px no-repeat #FFFFFF;
	/* border: 0px; */
	padding: 0px;
	margin: 0px 1px 0px 0px;
	cursor: pointer;
	border: 1px solid #EBF4F6;
}


.cup-content-simple-heading .btn_primary{
	position: absolute;
	top: 0px;
	left: 30px;
	
	background: #FBD766;
	color: #FFFFFF;
	text-align: center;
	width: 180px;
	height: 45px;
	border: 2px solid #333333;
}

.cup-content-simple-heading .btn_secondary{
	position: absolute;
	top: 0px;
	left: 244px;
	
	background: #FBD766;
	color: #FFFFFF;
	text-align: center;
	width: 180px;
	height: 45px;
	border: 2px solid #333333;
}

.cup-content-simple-heading .btn_primary.active .value,
.cup-content-simple-heading .btn_secondary.active .value{
	background: #F9D55B;
	color: #333333;
	font-family: 'netto_otregular';
}

.cup-content-simple-heading .btn_primary  .value,
.cup-content-simple-heading .btn_secondary  .value{
	background: #333333;
	color: #FFFFFF;
	text-align: center;
	width: 180px;
	font-size: 24px;
	line-height: 30px;
	height: 32px;
	font-family: 'netto_otregular';
	letter-spacing: 1px;
}

.cup-content-simple-heading .subject_list_frame{
	display: none;
}



.cup-content-simple-heading .subject_list_frame{
	position: absolute;
	top: 34px;
	left: 0px;
	border: 2px solid #333333;
	border-top: 0px;
	width: 451px;
	display: none;
}

.cup-content-simple-heading .subject_list_frame .subjects{
	display: none;
}

.cup-content-simple-heading .subject_list_frame .subjects .title{
	border: 0px;
	border-top: 15px solid #F9D55B;
	background: #333333;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 0px;
	padding-left: 15px;
	margin: 0px;
	height: 28px;
	line-height: 28px;
}

.cup-content-simple-heading .subject_list_frame .subjects .list{
	background: #333333;
	height: 300px;
}

.cup-content-simple-heading .subject_list_frame .subjects .list .section{
	float: left;
	width: 225px;
	height: 100%;
	background: #EBF4F6;
}

.cup-content-simple-heading .subject_list_frame .subjects .list .section.end{
	margin-left: 1px;
}

.cup-content-simple-heading .subject_list_frame .subjects .list .section ul{
	margin: 0px;
	padding: 0px;
	padding-top: 15px;
}

.cup-content-simple-heading .subject_list_frame .subjects .list .section ul li{
	list-style: none;
	padding: 4px 10px 4px 33px;
	background: url(../images/list-icon-dark-18.png) no-repeat 10px 3px;
	font-size: 14px;
	line-height: 18px;
	
	color: #333333;
	font-weight: normal;
}

.cup-content-simple-heading .subject_list_frame .subjects .list .section ul li:hover{
	background: url(../images/list-icon-dark-18.png) no-repeat 10px 3px #F9D55B;
}

.cup-content-simple-heading .subject_list_frame .subjects .list .section ul li a:link,
.cup-content-simple-heading .subject_list_frame .subjects .list .section ul li a:active,
.cup-content-simple-heading .subject_list_frame .subjects .list .section ul li a:visited{
	color: #333333;
	background: transparent;
	font-weight: normal;
}

.cup-content-simple-heading .subject_list_frame .subjects .list .section ul li a:hover{
	color: #333333;
	background: transparent;
	font-weight: normal;
}

.cup-content-simple-heading .subject_list_frame .subjects .foot{
	height: 28px;
	background: #333333;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	line-height: 28px;
	text-align: right;
	padding: 0px 2px;
}

.cup-content-simple-heading .subject_list_frame .subjects .foot .btn_browse_all{
	float: right;
	width: 95px;
	background: url('../images/white_arrow_right_12.png') no-repeat right center; 
	padding-right: 20px;
}

.cup-content-simple-heading .subject_list_frame .subjects .foot .btn_browse_all a,
.cup-content-simple-heading .subject_list_frame .subjects .foot .btn_browse_all a:link,
.cup-content-simple-heading .subject_list_frame .subjects .foot .btn_browse_all a:visited,
.cup-content-simple-heading .subject_list_frame .subjects .foot .btn_browse_all a:active{
	height: 28px;
	color: #FFFFFF;
}

.cup-content-simple-heading .subject_list_frame .subjects .foot .btn_browse_all a:hover{
	height: 28px;
	color: #FBD765;
	text-decoration: none;
	background: transparent;
}

















/* front end styling */

.cup-content-master-frame{
	border-bottom: 1px solid #C2DEE3;
}

.cup-content-master-frame .left-sidebar-content-frame{
	float: left;
	width: 256px;
}

.cup-content-master-frame .right-sidebar-content-frame{
	float: right;
	width: 260px;
	overflow: display;
}


.left-sidebar-content-frame .cup-basic-search-criteria{
	width: 256px;
	border-right: 1px solid #C2DEE3;
}

.left-sidebar-content-frame .cup-basic-search-criteria .heading-section{
	padding: -10px 10px 5px 10px;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}

.left-sidebar-content-frame .cup-basic-search-criteria .body-section{
	
}

.left-sidebar-content-frame .cup-basic-search-criteria .body-section .heading-section{
	padding: 20px 10px 5px 10px;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}

.left-sidebar-content-frame .cup-basic-search-criteria .body-section .search_category_item{
	margin-bottom: 5px;
	background: #ebf4f6;
	border: 0px;
	border-top: 1px solid #c2dee3;
	border-bottom: 1px solid #c2dee3;
	cursor: pointer;
	margin-bottom: 10px;
}

.left-sidebar-content-frame .cup-basic-search-criteria .body-section .search_category_item .title{
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	color: #333333;
	margin: 0px 15px;
	line-height: 40px;
}

.left-sidebar-content-frame .cup-basic-search-criteria .body-section .search_category_item.active,
.left-sidebar-content-frame .cup-basic-search-criteria .body-section .search_category_item:hover{
	background: #c2dee3;
}

.left-sidebar-content-frame .cup-basic-search-criteria .body-section .category_filter_list{
	font-weight: normal;
}

.left-sidebar-content-frame .cup-basic-search-criteria .body-section .search_category_group .category_filter_list.hidden{
	display: none;
}

.left-sidebar-content-frame .cup-basic-search-criteria .body-section .search_category_group .category_filter_list ul{
	margin: 0px;
	padding: 0px;
	margin: 0px;
	padding-bottom: 10px;
}

.left-sidebar-content-frame .cup-basic-search-criteria .body-section .search_category_group .category_filter_list ul li{
	list-style: none;
	padding-left: 15px;
	line-height: 26px;
}

.left-sidebar-content-frame .cup-basic-search-criteria .body-section .search_category_group .category_filter_list ul li:hover{
	background: #F9D55B;
}

.left-sidebar-content-frame .cup-basic-search-criteria .body-section .search_category_group .category_filter_list ul li.active{
	background: #F9D55B;
	color: #000000;
	font-size: 14px;
	font-family: PT Sans;
	text-decoration: none;
}


.left-sidebar-content-frame .cup-basic-search-criteria .body-section .search_category_group .category_filter_list ul li span{
	margin-right: 10px;
	position: relative;
	top: 5px;
}

.left-sidebar-content-frame .cup-basic-search-criteria .body-section .search_category_group .category_filter_list ul li a,
.left-sidebar-content-frame .cup-basic-search-criteria .body-section .search_category_group .category_filter_list ul li a:visited,
.left-sidebar-content-frame .cup-basic-search-criteria .body-section .search_category_group .category_filter_list ul li a:link,
.left-sidebar-content-frame .cup-basic-search-criteria .body-section .search_category_group .category_filter_list ul li a:active,
.left-sidebar-content-frame .cup-basic-search-criteria .body-section .search_category_group .category_filter_list ul li a:hover{
	color: #000000;
	font-size: 14px;
	font-family: PT Sans;
	font-weight: normal;
	text-decoration: none;
}




.cup-content-master-frame .main-content-frame{
	float: left;
	width: 767px;
}

.cup-content-master-frame .main-content-frame .spacer_bar{
	width: 100%;
	height: 10px;
}

.cup-content-master-frame .main-content-frame .spacer_bar.yellow{
	background: #F9D55B;
}

.cup-content-master-frame .main-content-frame .spacer_bar.blue{
	background: #3392a1;
}

.cup-content-master-frame .main-content-frame.with-left-sidebar{
	border-left: 1px solid #c2dee3;
}

.cup-content-master-frame .main-content-frame.with-right-sidebar{
	border-right: 1px solid #c2dee3;
	width: 763px;
}

.content-page-title{
	padding: 0px;
	margin: 0px;
	padding: 0px 15px;
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
	color: #333333;
}

.content-page-title h1{
	padding: 0px;
	margin: 0px;
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
	color: #333333;
	font-family: PT Sans;
}

.cup-content-advance-search-frame{

}

.cup-content-advance-search-frame .switch-frame{
	float: right;
	margin-top: 6px;
	margin-right: 15px;
	width: 21px;
	height: 21px;
	background: url(../images/expand_black_21.gif) no-repeat;
	cursor: pointer;
}

.cup-content-advance-search-frame .switch-frame.active{
	float: right;
	margin-top: 6px;
	margin-right: 15px;
	width: 21px;
	height: 21px;
	background: url(../images/close_black_21.gif) no-repeat;
	cursor: pointer;
}

.cup-content-advance-search-frame .header-section{
	line-height: 32px;
	font-size: 18px;
	color: #000000;
	padding-left: 30px;
	background: url(../images/result_tag_black.gif) no-repeat 10px center #F9D55B;
	cursor: pointer;
}

.cup-content-advance-search-frame .form-section{
	display: none;
	border-bottom: 10px solid #F9D55B;
}

.cup-content-advance-search-frame .form-section .form-column{
	float: left;
	width: 230px;
	margin: 0px 10px;
}

.cup-content-advance-search-frame .form-section .form-column .field-item{
	padding-bottom: 5px;
}

.cup-content-advance-search-frame .form-section .form-column .field-item .field-attr{
	color: #000000;
}

.cup-content-advance-search-frame .form-section .form-column .field-item .field-value{
	color: #333333;
}

.cup-content-advance-search-frame .form-section .form-column .field-item .field-value select,
.cup-content-advance-search-frame .form-section .form-column .field-item .field-value input[type="text"]{
	width: 228px;
	border: 1px solid #C2DEE3;
}

.cup-content-advance-search-frame .form-section .form-column .form-submit-frame{
	margin: 20px 0px;
	text-align: right;
}

.cup-content-advance-search-frame .form-section .form-column .form-submit-frame input[type="submit"]{
	border: 4px #C2DEE3 solid;
	background: #C2DEE3;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	padding: 0px 10px;
}

.cup-content-advance-search-frame .form-section .form-column .form-submit-frame input[type="submit"]:active{
	border: 4px #3392a1 solid;
	background: #3392a1;
	color: #FFFFFF;
}




.cup-content-master-frame .main-content-frame .cup-result-frame{
	
}


.cup-content-master-frame .main-content-frame .cup-result-frame .no_result_message_frame{
	margin: 20px;
	font-size: 16px;
	font-style: italic;
	color: #333333;
	padding: 15px 0px;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup_content_search_criteria_line{
	font-size: 18px;
	line-height: 22px;
	padding: 5px 15px;
	color: #333333;
	font-weight: bold;
	/*border-bottom: 1px solid #C2DEE3;*/
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-tool-frame{
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	padding: 5px 15px;
	color: #333333;
}



.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-tool-frame a,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-tool-frame a:link,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-tool-frame a:visited,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-tool-frame a:active{
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	color: #333333;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-tool-frame a.active{
	background: #FBD766;
	/*text-decoration: underline;*/
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content{
	border-top: 1px solid #C2DEE3;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item{
	/* border-top: 1px solid #c2dee3; */
	border-bottom: 1px solid #c2dee3;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.series_result{
	background: #eaf4f6;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item .spacer-padding{
	width: 100%;
	height: 15px;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item .switcher-frame{
	float: right;
	margin: 0px 15px 0px 0px;
	width: 31px;
	height: 31px;
	background: url(../images/expand_blue_31.gif) no-repeat;
	cursor: pointer;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item .switcher-frame.active{
	float: right;
	margin: 0px 15px 0px 0px;
	width: 31px;
	height: 31px;
	background: url(../images/close_blue_31.gif) no-repeat;
	cursor: pointer;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item .image-frame{
	float: left;
	width: 90px;
	background: #F0F088;
	margin-left: 15px;
}



/* title_result */
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.title_result .info-frame{
	float: left;
	margin-left: 15px;
	width: 350px;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.title_result .info-frame .title-info{
	line-height: 20px;
	font-size: 18px;
	font-weight: bold;
	/* height: 22px; */
	color: #333333;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.title_result .info-frame .title-info a,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.title_result .info-frame .title-info a:link,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.title_result .info-frame .title-info a:visited,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.title_result .info-frame .title-info a:active,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.title_result .info-frame .title-info a:hover{
	line-height: 20px;
	/* height: 20px; */
	font-size: 18px;
	font-weight: bold;
	color: #333333;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.title_result .info-frame .author-info{
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 5px;
	color: #333333;
}


.series-titles-frame .title-item .info-frame .author-info a,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.title_result .info-frame .author-info a{
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.title_result .info-frame .description-info{
	font-size: 12px;
	color: #333333;
}


.series-titles-frame .title-item .action-info,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.title_result .action-info{
	width: 250px;
	float: right;
	margin-right: 15px;
}

.series-titles-frame .title-item .action-info .price-info,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.title_result .action-info .price-info{
	height: 35px;
}

.series-titles-frame .title-item .action-info .price-info .price-tag,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.title_result .action-info .price-info .price-tag{
	float: left;
	width: 130px;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}

.series-titles-frame .title-item .action-info .price-info .price-action,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.title_result .action-info .price-info .price-action{
	float: left;
}

.series-titles-frame .title-item .action-info .price-info .price-action.sold-out,
.series-titles-frame .title-item .action-info .price-info .price-action.unavailable,
.series-titles-frame .title-item .action-info .price-info .price-action.forthcoming,
.series-titles-frame .title-item .action-info .price-info .price-action.contactcs,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.title_result .action-info .price-info .price-action.sold-out,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.title_result .action-info .price-info .price-action.unavailable,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.title_result .action-info .price-info .price-action.forthcoming,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.title_result .action-info .price-info .price-action.contactcs{
	color: #EA5723;
    font-weight: bold;
}

.series-titles-frame .title-item .action-info .price-info .price-action input.btn,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.title_result .action-info .price-info .price-action input.btn{
	background: #fbd765;
	color: #000000;
	border: 1px solid #fbd765;
	cursor: pointer;
	font-weight: bold;
}

.series-titles-frame .title-item .action-info .price-info .price-action input.btn:hover,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.title_result .action-info .price-info .price-action input.btn:hover{
	background: #EA5723;
	color: #FFFFFF;
	border: 1px solid #EA5723;
	cursor: pointer;
	font-weight: bold;
}

.series-titles-frame .title-item .action-info .price-info .price-action .isbn-info,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.title_result .action-info .isbn-info{
	font-size: 12px;
	color: #333333;
	margin-top: 5px;
}


.series-titles-frame .title-item .action-info .format-info,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.title_result .action-info .format-info{
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}

.series-titles-frame .title-item .action-info .format-info .formats_frame,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.title_result .action-info .format-info .formats_frame{
	padding-top: 5px;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.title_result .info-frame .format-info .formats_frame{

}


/* series_result */
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.series_result .info-frame{
	float: left;
	margin-left: 15px;
	width: 350px;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.series_result .info-frame .title-info{
	/*line-height: 20px;*/
	padding-bottom: 3px;
	font-size: 18px;
	font-weight: bold;
	color: #333333;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.series_result .info-frame .title-info a,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.series_result .info-frame .title-info a:link,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.series_result .info-frame .title-info a:visited,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.series_result .info-frame .title-info a:active,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.series_result .info-frame .title-info a:hover{
	font-size: 18px;
	font-weight: bold;
	color: #333333;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.series_result .info-frame .author-info{
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 5px;
	color: #333333;
	text-transform: uppercase;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.series_result .view_series{
	margin-top: 10px;
	background: url(../images/result_view_series_tag_down.png) no-repeat;
	padding-left: 20px;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.series_result .view_series.active{
	margin-top: 10px;
	background: url(../images/result_view_series_tag_up.png) no-repeat;
	padding-left: 20px;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.series_result .view_series a,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.series_result .view_series a:link,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.series_result .view_series a:visited,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.series_result .view_series a:active,
.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.series_result .view_series a:hover{
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.series_result .info-frame .description-info{
	padding-top: 4px;
	font-size: 12px;
	line-height: 16px;
	color: #333333;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.series_result .info-frame .description-info p{
	padding: 0px;
	margin: 5px 0px 5px 0px;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.series_result .action-info{
	width: 250px;
	float: right;
	margin-right: 15px;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.series_result .action-info .price-info{
	height: 35px;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.series_result .action-info .price-info .price-tag{
	float: left;
	width: 130px;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item .series_result.action-info .price-info .price-action{
	float: left;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.series_result .action-info .isbn-info{
	font-size: 12px;
	color: #333333;
	margin-top: 5px;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.series_result .action-info .format-info{
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.series_result .action-info .format-info .formats_frame{
	padding-top: 5px;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item.series_result .info-frame .format-info .formats_frame{

}



.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item .comprehensive-series-frame{
	
	display: none;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item .comprehensive-series-frame .image-frame{
	float: left;
	width: 180px;
	background: transparent;
	margin-left: 15px;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item .comprehensive-series-frame .image-frame .action-info{
	float: none;
	text-align: center;
	width: 100%;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item .comprehensive-series-frame .image-frame .action-info a.cup_request_more_info_btn{
	background: #C2DEE3;
	padding: 5px 10px;
	color: #000000;
	text-decoration: none;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item .comprehensive-series-frame .image-frame .action-info a:hover.cup_request_more_info_btn{
	background: #4492a0;
	padding: 5px 10px;
	color: #FFFFFF;
	text-decoration: none;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item .comprehensive-series-frame .info-frame{
	float: left;
	margin-left: 15px;
	width: 480px;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item .series-titles-frame{
	border-top: 1px solid #C2DEE3;
	display: none;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item .series-titles-frame .title-item{
	border-left: 1px solid #C2DEE3;
	border-bottom: 1px solid #C2DEE3;
	margin-left: 50px;
	background: #FFFFFF;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item .series-titles-frame .title-item.end{
	border-left: 1px solid #C2DEE3;
	border-bottom: 0px;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item .series-titles-frame .title-item .image-frame{

}

.relative_frame{
	position: relative;
}

.relative_frame .cup-new-product-60{
	position: absolute;
	top: -5px;
	left: -5px;
	width: 70px;
	height: 65px;
	background: url(../images/new_product_60px.png) no-repeat;
	z-index: 10;
}

.relative_frame .cup-new-product-90{
	position: absolute;
	top: -5px;
	left: -5px;
	width: 100px;
	height: 95px;
	background: url(../images/new_product_90px.png) no-repeat;
	z-index: 10;
}

.relative_frame .cup-new-product-180{
	position: absolute;
	top: -5px;
	left: -5px;
	width: 190px;
	height: 185px;
	background: url(../images/new_product_180px.png) no-repeat;
	z-index: 10;
}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item .series-titles-frame .title-item .image-frame .relative_frame img{

}

.cup-content-master-frame .main-content-frame .cup-result-frame .cup-result-content 
.subject-result-item .series-titles-frame .title-item .info-frame{
	width: 300px;
}

#popup-window-content #popup-window-content{
	background: url(../images/ajax_loading.gif) no-repeat center center;
}


/* eCommerce */
#ccm-core-commerce-add-to-cart-form-4- input.ccm-input-submit{
	cursor: pointer;
}
