.clr{
	clear: both;
	height: 0px;
	width: 0px;
}

.h15_spacer{
	height: 15px;
	width: 100%;
}

.h20_spacer{
	height: 20px;
	width: 100%;
}

.cup-content-master-frame .main-content-frame .title-content-frame{

}



.cup-content-master-frame .main-content-frame .title-content-frame .image-frame{
	float: left;
	width: 230px;
	min-height: 1px;
	text-align: center;
}

.cup-content-master-frame .main-content-frame .title-content-frame .image-frame .cup-new-product-180{
	margin: 0px 25px;
	width: 190px;
}

.cup-content-master-frame .main-content-frame .title-content-frame .info-frame{
	float: left;
	width: 270px;
}

.cup-content-master-frame .main-content-frame .title-content-frame .info-frame.series{
	width: 500px;
}

.cup-content-master-frame .main-content-frame .title-content-frame .action-frame{
	float: right;
	width: 230px;
	margin: 0px 10px;
}



.cup-content-master-frame .main-content-frame .title-content-frame .info-frame .info-section{
	padding: 0px;
	padding-bottom: 8px;
}

.cup-content-master-frame .main-content-frame .title-content-frame .info-frame .info-section .title{
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}

.cup-content-master-frame .main-content-frame .title-content-frame .info-frame .info-section .title.series{
	font-size: 13px;
	font-weight: bold;
	color: #333333;
}


.cup-content-master-frame .main-content-frame .title-content-frame .info-frame .info-section .content{
	font-size: 12px;
	color: #333333;
}

.cup-content-master-frame .main-content-frame .title-content-frame .info-frame .info-section .content a,
.cup-content-master-frame .main-content-frame .title-content-frame .info-frame .info-section .content a:link,
.cup-content-master-frame .main-content-frame .title-content-frame .info-frame .info-section .content a:visited,
.cup-content-master-frame .main-content-frame .title-content-frame .info-frame .info-section .content a:active,
.cup-content-master-frame .main-content-frame .title-content-frame .info-frame .info-section .content a:hover{
	font-size: 12px;
	color: #333333;
}

.cup-content-master-frame .main-content-frame .title-content-frame .info-frame .info-section .series_link{
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	padding-bottom: 5px;
	padding-left: 18px;
	background: url(../images/list-icon-dark-18.png) no-repeat;
}

.cup-content-master-frame .main-content-frame .title-content-frame .info-frame .info-section .series_link a,
.cup-content-master-frame .main-content-frame .title-content-frame .info-frame .info-section .series_link a:visited,
.cup-content-master-frame .main-content-frame .title-content-frame .info-frame .info-section .series_link a:link,
.cup-content-master-frame .main-content-frame .title-content-frame .info-frame .info-section .series_link a:active,
.cup-content-master-frame .main-content-frame .title-content-frame .info-frame .info-section .series_link a:hover{
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}

.cup-content-master-frame .main-content-frame .title-content-frame .action-frame .spacer{
	height: 40px;
	width: 1px;
}


.cup-content-master-frame .main-content-frame .title-content-frame .action-frame .price-tag{
	text-align: right;
	color: #333333;
	font-size: 18px;
	font-weight: bold;
	padding: 0px 3px;
	margin-bottom: 8px;
	line-height: 32px;
	height: 32px;
	font-family: PT Sans;

}

.cup-content-master-frame .main-content-frame .title-content-frame .action-frame .circa-price{
    text-align: right;
    
    color: #333333;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    margin-bottom: 8px;
    padding: 0 3px;
}

.cup-content-master-frame .main-content-frame .title-content-frame .action-frame .circa-price .circa-price-value{


}

.cup-content-master-frame .main-content-frame .title-content-frame .action-frame .price-action{
	width: 160px;
	margin: 0px 0px 8px auto;
	background: #fbd765;
	margin-bottom: 8px;
	height: 32px;
	line-height: 32px;
	text-align: center;
}

.cup-content-master-frame .main-content-frame .title-content-frame .action-frame .price-action:hover{
	width: 160px;
	margin: 0px 0px 8px auto;
	background: #EA5723;
	margin-bottom: 8px;
	height: 32px;
	line-height: 32px;
	text-align: center;
}

.cup-content-master-frame .main-content-frame .title-content-frame .action-frame .price-action.sold-out{
	width: 160px;
	margin: 0px 0px 8px auto;
	background: transparent;
	margin-bottom: 8px;
	height: 32px;
	line-height: 32px;
	text-align: right;
	padding: 0px 10px;
	font-size: 16px;
	font-weight: bold;
	color: #EA5723;
}

.cup-content-master-frame .main-content-frame .title-content-frame .action-frame .price-action.forthcoming{
	width: 160px;
	margin: 0px 0px 8px auto;
	background: transparent;
	margin-bottom: 8px;
	height: 32px;
	line-height: 32px;
	text-align: right;
	padding: 0px 10px;
	font-weight: bold;
	font-size: 16px;
	color: #EA5723;
}

.cup-content-master-frame .main-content-frame .title-content-frame .action-frame .price-action.contactcs{
	width: 160px;
	margin: 0px 0px 8px auto;
	background: transparent;
	margin-bottom: 8px;
	height: 32px;
	line-height: 32px;
	text-align: right;
	padding: 0px 10px;
	font-weight: bold;
	font-size: 16px;
	color: #EA5723;
}

.cup-content-master-frame .main-content-frame .title-content-frame .action-frame .price-action input#quantity{
	border: 0px;
	width: 40px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	margin-left: 5px;
	font-size: 14px;
	font-weight: bold;
}

.cup-content-master-frame .main-content-frame .title-content-frame .action-frame .price-action input#submit{
	margin-right: 10px;
	border: 0px;
	font-size: 14px;
	font-weight: bold;
	background: transparent;
	padding: 6px 3px;
	cursor: pointer;
}

.cup-content-master-frame .main-content-frame .title-content-frame .action-frame .price-action:hover input#submit{
	margin-right: 10px;
	border: 0px;
	font-size: 14px;
	font-weight: bold;
	background: transparent;
	padding: 6px 3px;
	cursor: pointer;
	color: #FFFFFF;
}

.cup-content-master-frame .main-content-frame .title-content-frame .action-frame .price-action .fixed_quantity{
	display: inline-block;
	border: 0px;
	width: 40px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	margin-left: 5px;
	font-size: 14px;
	font-weight: bold;
	color: #888888;
	background: #FFFFFF;
}

.cup-content-master-frame .main-content-frame .title-content-frame .action-frame .require-more-info{
	width: 160px;
	margin: 0px 0px 8px auto;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	line-height: 32px;
	height: 32px;
	color: #000000;
	background: #c2dee3;
}

.cup-content-master-frame .main-content-frame .title-content-frame .action-frame .require-more-info:hover{
	width: 160px;
	margin: 0px 0px 8px auto;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	line-height: 32px;
	height: 32px;
	color: #FFFFFF;
	background: #4492a0;
}

.cup-content-master-frame .main-content-frame .title-content-frame .action-frame a:hover{
	text-decoration: none;
}

.cup-content-master-frame .main-content-frame .title-content-frame .action-frame .formats-frame{
	font-size: 10px;
	color: #333333;
	margin-bottom: 8px;
	
	text-align: right;
}

.cup-content-master-frame .main-content-frame .title-content-frame .action-frame .formats-frame .title{

}

.cup-content-master-frame .main-content-frame .title-content-frame .action-frame .formats-frame .formats{
	
}

.cup-content-master-frame .main-content-frame .title-content-frame .action-frame .go-preview-frame{
	height: 50px;
	background: url(../images/go-preview-icon.png) no-repeat #ebf4f6;
	border: 1px solid #c2dee3;
	margin-bottom: 8px;
}

.cup-content-master-frame .main-content-frame .title-content-frame .action-frame .go-preview-frame .title{
	margin-left: 60px;
	font-size: 13px;
	font-weight: bold;
	padding: 5px 0px 0px 0px;
	color: #333333;
}

.cup-content-master-frame .main-content-frame .title-content-frame .action-frame .go-preview-frame .content{
	margin-left: 60px;
	color: #333333;
}

.cup-content-master-frame .main-content-frame .title-content-frame .action-frame .inspection-copy-frame {
	background: #ebf4f6;
	height: 50px;
	margin-bottom: 8px;
	border: 1px solid #c2dee3;
}

.cup-content-master-frame .main-content-frame .title-content-frame .action-frame a:hover{
	text-decoration: none;
}

.cup-content-master-frame .main-content-frame .title-content-frame .action-frame .inspection-copy-frame .title{
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	line-height: 50px;
	color: #333333;
}

.cup-content-master-frame .main-content-frame .title-content-frame .action-frame a:hover .inspection-copy-frame{
	background: #c2dee3;
}



.cup-content-master-frame .main-content-frame .detail-info-frame{
	border: 0px;
	border-top: 1px solid #c2dee3;
	border-bottom: 1px solid #c2dee3;
}

.cup-content-master-frame .main-content-frame table.detail-info-frame{
	width: 100%;
	border-collapse:collapse;
}

.cup-content-master-frame .main-content-frame table.detail-info-frame td{
	border-collapse:collapse;
	padding: 0px;
	margin: 0px;
}

.cup-content-master-frame .main-content-frame .detail-info-frame .detail-menu{
	/*float: left;*/
	width: 250px;
	border-right: 1px solid #c2dee3;
	height: 100%;
	vertical-align: top;
}

.cup-content-master-frame .main-content-frame .detail-info-frame .detail-menu .spacer{
	height: 5px;
	width: 1px;
}

.cup-content-master-frame .main-content-frame .detail-info-frame .detail-menu .item{
	background: #ebf4f6;
	padding: 8px;
	border: 0px;
	border-top: 1px solid #c2dee3;
	border-bottom: 1px solid #c2dee3;
	border-left: 0px;
	border-right: 0px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

.cup-content-master-frame .main-content-frame .detail-info-frame .detail-menu .item.hover,
.cup-content-master-frame .main-content-frame .detail-info-frame .detail-menu .item.active{
	background: #c2dee3;
}


.cup-content-master-frame .main-content-frame .detail-info-frame .detail-content{
	margin-left: 220px;
	vertical-align: top;
}

.cup-content-master-frame .main-content-frame .detail-info-frame .detail-content .item p {
	margin: 0
}

.cup-content-master-frame .main-content-frame .detail-info-frame .detail-content .spacer{
	height: 15px;
	width: 1px;
}

.cup-content-master-frame .main-content-frame .detail-info-frame .detail-content .item{
	margin: 0px 20px;
	font-size: 12px;
	line-height: 15px;
}

.cup-content-master-frame .main-content-frame .detail-info-frame .detail-content .item p{
	padding-bottom: 6px;
	margin: 0px;
}

.cup-content-master-frame .main-content-frame .detail-info-frame .detail-content .item.nomargin{
	margin: 0px;
}

.cup-content-master-frame .main-content-frame .detail-info-frame .detail-content .item a{
	color: #333333;
}

.cup-content-master-frame .main-content-frame .detail-info-frame .detail-content .item[ref="sample-pages"] ul{
	padding: 0px;
	margin: 0px;
}
.cup-content-master-frame .main-content-frame .detail-info-frame .detail-content .item[ref="sample-pages"] ul li{
	list-style: none;
	/*list-style-image: url(../images/list-icon-dark-18.png);*/
	padding-left: 20px;
	background: url(../images/list-icon-dark-18.png) no-repeat 0px -3px;
}









.related-title-frame{
	width: 260px;
	border-left: 1px solid #c2dee3;
}

.related-title-frame .title{
	background: #ebf4f6;
	padding: 0px 10px;
	line-height: 30px;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	border: 0px;
	border-bottom: 1px solid #c2dee3;
	color: #333333;
}

.related-title-frame .item{
	border-bottom: 1px solid #c2dee3;
	padding-right: 10px;
}

.related-title-frame .item .spacer_pad{
	height: 10px;
	width: 1px;
}

.related-title-frame .item .image-frame{
	float: left;
	width: 80px;
	min-height: 10px;
	text-align: center;
}

.related-title-frame .item .image-frame .cup-new-product-60{
	width: 70px;
	position: absolute;
	left: 5px;
}

.related-title-frame .item .content-frame{
	margin-left: 80px;
}

.related-title-frame .item .content-frame .item-title{
	line-height: 18px;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	border: 0px;
	padding: 0px;
}

.related-title-frame .item .content-frame .item-title a,
.related-title-frame .item .content-frame .item-title a:hover,
.related-title-frame .item .content-frame .item-title a:active,
.related-title-frame .item .content-frame .item-title a:link,
.related-title-frame .item .content-frame .item-title a:visited{
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}

.related-title-frame .item .content-frame .item-description{
	font-size: 12px;
	color: #333333;
	margin: 5px 0px;
	line-height: 15px;
}

.related-title-frame .item .content-frame .item-link{
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}

.related-title-frame .item .content-frame .item-link a,
.related-title-frame .item .content-frame .item-link a:visited,
.related-title-frame .item .content-frame .item-link a:link,
.related-title-frame .item .content-frame .item-link a:active,
.related-title-frame .item .content-frame .item-link a:hover{
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}




.spacer_bar {
    height: 15px;
    width: 100%;
}
.spacer_bar.yellow {
    background: none repeat scroll 0 0 #F9D55B;
}

.spacer_bar.blue {
    background: none repeat scroll 0 0 #3392A1;
}





.cup_series_detail_info{
	margin: 0px 20px;
	font-weight: 700;
}

.cup_series_detail_info .title{
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 10px;
	color: #333333;
}

.cup_series_detail_info .description{
	font-size: 12px;
	line-height: 15px;
	font-weight: normal;
	color: #333333;
	padding-bottom: 5px;
}

.cup_series_detail_info .tag{
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	font-weight: 700;
}

.detail-info-frame .title_item{
	border-top: 1px solid #C2DEE3;
}

.detail-info-frame .title_item .spacer{
	width: 100%;
	height: 10px;
}

.detail-info-frame .title_item table .gap{
	width: 10px;
	
}

.detail-info-frame .title_item .image-frame{
	width: 60px;
	vertical-align: top;
}

.detail-info-frame .title_item .info-frame{
	width: 260px;
	vertical-align: top;
}

.detail-info-frame .title_item .info-frame .title-info{
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}

.detail-info-frame .title_item .info-frame .isbn-info{
	font-size: 11px;
	font-weight: normal;
	color: #333333;
}

.detail-info-frame .title_item .info-frame .format-info{
	padding-top:5px;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
}

.detail-info-frame .title_item .action-frame{
	vertical-align: top;
}

.detail-info-frame .title_item .action-frame .price-info{
	vertical-align: top;
}

.detail-info-frame .title_item .action-frame .price-info .na{
	font-size: 11px;
}

.detail-info-frame .title_item .action-frame .price-info .price-tag{
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	color: #333333;
	text-align: right;
}

.detail-info-frame .title_item .action-frame .price-info .price-action{
	text-align: right;
}

.detail-info-frame .title_item .action-frame .price-info .price-action.sold-out{
	color: #EA5723;
}

.detail-info-frame .title_item .action-frame .price-info .price-action.forthcoming{
	color: #EA5723;
}

.detail-info-frame .title_item .action-frame .price-info form input.ccm-input-submit{
	background: #F9D55B;
	border: 1px solid #F9D55B;
	color: #000000;
}

.detail-info-frame .title_item .action-frame .price-info a:hover{
	text-decoration: none;
}

.detail-info-frame .title_item .action-frame .price-info .require-more-info{
	margin-top: 3px;
	background: none repeat scroll 0 0 #C2DEE3;
	padding: 4px;
	color: #000000;
	font-size: 11px;
}

.detail-info-frame .title_item .action-frame .price-info .require-more-info:hover{
	margin-top: 3px;
	background: none repeat scroll 0 0 #4492A0;
	padding: 4px;
	color: #FFFFFF;
	font-size: 11px;
}







.detail-content .item .title-item{
	border-bottom: 1px solid #C2DEE3;
	background: #FFFFFF;
}

.detail-content .item .title-item.end{
	border-bottom: 0px;
}

.detail-content .item .title-item .spacer-padding{
	width: 100%;
	height: 15px;
}

.detail-content .item .title-item .image-frame{
	float: left;
	width: 90px;
	background: #F0F088;
	margin-left: 15px;
}

.detail-content .item .title-item .info-frame{
	float: left;
	margin-left: 15px;
	width: 380px;
}

.detail-content .item .title-item .action-info{
	float: left;
	margin-top: 10px;
    margin-left: 15px;
    width: 380px;
}

.detail-content .item .title-item .action-info .price-info{
	float: right;
    /*margin-right: 10px;*/
    width: 120px;
	text-align: right;
}

.detail-content .item .title-item .action-info .price-info .price-tag{
	color: #333333;
    float: right;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
}

.detail-content .item .title-item .action-info .price-info .price-action{
	float: right;
}


.detail-content .item .title-item .action-info .price-info .price-action.sold-out,
.detail-content .item .title-item .action-info .price-info .price-action.unavailable,
.detail-content .item .title-item .action-info .price-info .price-action.forthcoming,
.detail-content .item .title-item .action-info .price-info .price-action.contactcs,
.detail-content .item .title-item .action-info .price-info .price-action.sold-out,
.detail-content .item .title-item .action-info .price-info .price-action.unavailable,
.detail-content .item .title-item .action-info .price-info .price-action.forthcoming,
.detail-content .item .title-item .action-info .price-info .price-action.contactcs{
	color: #EA5723;
    font-weight: bold;
}

.detail-content .item .title-item .action-info .price-info .price-action input.btn{
	background: #fbd765;
	color: #000000;
	border: 1px solid #fbd765;
	cursor: pointer;
	font-weight: bold;
}