/* 
    Created on : 08 26, 15, 7:33:35 AM
    Author     : paulbalila
*/

.tab-folders {
    margin-bottom: 5px !important;
    background-image: none !important;
}

.tab-folders-active {
    background-color: #44BBFF !important;
    background-image: none !important;
}

select.tab-content-updater {
    width : 100% !important;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    border: 1px solid #ddd;
    padding: 10px;
}

/* Styles for the content detail modal */
ul#sortable li {
    cursor: pointer;
}

ul#sortable li:hover {
    background-color: #ddd;
}

div#sortable-container {
    height: 430px;
    max-height: 430px;
    overflow:auto;
}

.popup-selection-item {
    word-wrap: break-word;
}


td.selected {
    background-color: #E6E6E6 !important;
}

/* SB-456 modified by jbernardex 02202020 */
.ccm-pane input, .ccm-pane select {
    width : 100%;
    height: 27px !important; 
}

/* SB-456 added by jbernardex 02202020 */
.ccm-pane-footer {
    width: 100%;
    clear: both;
}

.ccm-radio-container {
    margin-right: 10px;
}

td.tab-select {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(0%,rgba(0,0,0,0)));
}