.clr{
	clear: both;
}

.left{
	float: left;
}

.right{
	float: right;
}

.cup-competition-entry-view{
	width: 350px;
	margin-left: 25px;
	padding-bottom: 10px;
}

.cup-competition-entry-view .field-attribute{
	float: left;
	width: 100px;
	font-size: 14px;
	font-weight: bold;
}

.cup-competition-entry-view .field-value{
	float: left;
	width: 240px;
	font-size: 14px;
}




.cup-competition-form-entry-view{
	margin: 0px 25px;
	padding-bottom: 10px;
}

.cup-competition-form-entry-view .field_name{
	font-size: 14px;
	font-weight: bold;
}

.cup-competition-form-entry-view .field_value{
	padding-left: 10px;
	font-size: 14px;
	line-height: 22px;
	padding-bottom: 10px;
}

.cup-competition-form-entry-view .field_value ul{
	margin: 0px;
	padding: 0px;
}

.cup-competition-form-entry-view .field_value ul li{
	margin-left: 10px;
}

.cup-competition-dashboard-form-section-title{
	margin-left: 10px;
	font-size: 16px;
	line-height: 32px;
}