.cup-main-sidebar{
	border: 2px solid #333333;
	background: #333333;
}

.cup-main-sidebar .gap_spacer{
	height: 10px;
	width: 1px;
}

.cup-main-sidebar .gap_spacer_yellow{
	background: #fbd765;
	height: 5px;
	width: 100%;
	border-top: 2px solid #333333;
	border-bottom: 2px solid #333333;
}

.cup-main-sidebar .simple-search-frame{

}

.cup-main-sidebar .simple-search-frame .input_frame{
	background: #FFFFFF;
	height: 28px;
	margin: 0px 32px 0px 1px;
}

.cup-main-sidebar .simple-search-frame .input_frame input{
	margin: 0px 10px;
	padding: 0px;
	height: 24px;
	width: 200px;
	border: 2px solid #FFFFFF;
	color: #333333;
	font-size: 20px;
}

.cup-main-sidebar .simple-search-frame .input_frame input.empty{
	color: #808080;
	font-size: 20px;
}

.cup-main-sidebar .simple-search-frame button.search{
	float: right;
	width: 28px;
	height: 28px;
	background: url(images/btn_search_28.png) -2px -2px no-repeat;
	border: 1px solid #ebf4f6; 
	padding: 0px;
	margin: 0px 1px 0px 0px;
	cursor: pointer;
}

.cup-main-sidebar .advance-search-frame{

}

.cup-main-sidebar .advance-search-frame .title{
	background: #000000;
	color: #FFFFFF;
	font-weight: normal;
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	padding: 0px 15px;
	cursor: pointer;
}

.cup-main-sidebar .advance-search-frame .form{
	display: none;
	width:100%;
	overflow-x: hidden;
	background: #EBF4F6;
}

.cup-main-sidebar .advance-search-frame .form.active{
	display: block;
	width:100%;
	overflow-x: hidden;
	background: #EBF4F6;
}

.cup-main-sidebar .advance-search-frame .form .fields{
	margin: 0px 15px;
	padding: 15px 0px;
}

.cup-main-sidebar .advance-search-frame .form .fields .item{

}

.cup-main-sidebar .advance-search-frame .form .fields .item label{
	color: #000000;
}

.cup-main-sidebar .advance-search-frame .form .fields .item .field{
	padding-bottom: 10px;
}

.cup-main-sidebar .advance-search-frame .form .fields .item .field input,
.cup-main-sidebar .advance-search-frame .form .fields .item .field select{
	width: 95%;
	border: 1px solid #CFE5E9;
}

.cup-main-sidebar .advance-search-frame .form .footer{
	background: #000000;
	text-align: right;
	height: 28px;
}

.cup-main-sidebar .advance-search-frame .form .footer input{
	border: 0px;
	background: url(images/list-icon-white-18.png) no-repeat right center #000000;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 24px;
	height: 24px;
	font-weight: normal;
	font-family: PT Sans;
	width: 90px;
	cursor: pointer;
	margin-right: 5px;
}

.cup-main-sidebar .advance-search-frame .form .footer input:hover{
	background: url(images/list-icon-yellow-18.png) no-repeat right center #000000;
	color: #FBD765;
}

.cup-main-sidebar  .guide-title{
	background: #fbd765;
	font-weight: bold;
	font-size: 20px;
	color: #000000;
	padding: 0px 15px;
	line-height: 40px;
	
}

.cup-main-sidebar  .section-frame ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px 0px 0px 0px;
}

.cup-main-sidebar  .section-frame li{
	background: url(images/list-icon-white-18.png) no-repeat 10px 8px;
	padding-left: 30px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #FFFFFF;
	font-size: 18px;
}

.cup-main-sidebar  .section-frame li a{
	color: #FFFFFF;
}

.cup-main-sidebar  .section-frame li a:hover{
	color: #F9D55B;
	text-decoration: none;
}

.cup-main-sidebar  .section-frame li:hover{
	background: url(images/list-icon-yellow-18.png) no-repeat 10px 8px;
	color: #F9D55B;
}

.cup-main-sidebar  .section-frame li:hover a{
	color: #F9D55B;
	text-decoration: none;
}


.cup-main-sidebar  .link_section{
	
}

.cup-main-sidebar  .link_section .block_cambridge_go{
	/*background: url(images/home_sprite_notext.png) -0px -0px no-repeat;*/
	background: url(images/link_sprite.png) -0px -0px no-repeat;
}

.cup-main-sidebar  .link_section .block_cambridge_hotmaths{
	/*background: url(images/home_sprite_notext.png) -0px -47px no-repeat;*/
	background: url(images/link_sprite.png) -0px -47px no-repeat;
}

.cup-main-sidebar  .link_section .block_dynamic_science{
	/*background: url(images/home_sprite_notext.png) -0px -47px no-repeat;*/
	background: url(images/link_sprite.png) -0px -188px no-repeat;
}

.cup-main-sidebar  .link_section .block_cambridge_checkpoints{
	/*background: url(images/home_sprite_notext.png) -0px -94px no-repeat;*/
	background: url(images/link_sprite.png) -0px -94px no-repeat;
}

.cup-main-sidebar  .link_section .block_elt{
	/*background: url(images/home_sprite_notext.png) -0px -141px no-repeat;*/
	background: url(images/link_sprite.png) -0px -141px no-repeat;
}



.cup-main-sidebar  a:hover .link_section .block_cambridge_go{
	/*background: url(images/home_sprite_notext.png) -256px -0px no-repeat;*/
	background: url(images/link_sprite.png) -256px -0px no-repeat;
}

.cup-main-sidebar  a:hover .link_section .block_cambridge_hotmaths{
	/*background: url(images/home_sprite_notext.png) -256px -47px no-repeat;*/
	background: url(images/link_sprite.png) -256px -47px no-repeat;
}

.cup-main-sidebar  a:hover .link_section .block_dynamic_science{
	/*background: url(images/home_sprite_notext.png) -256px -47px no-repeat;*/
	background: url(images/link_sprite.png) -256px -188px no-repeat;
}

.cup-main-sidebar  a:hover .link_section .block_cambridge_checkpoints{
	/*background: url(images/home_sprite_notext.png) -256px -94px no-repeat;*/
	background: url(images/link_sprite.png) -256px -94px no-repeat;
}

.cup-main-sidebar  a:hover .link_section .block_elt{
	/*background: url(images/home_sprite_notext.png) -256px -141px no-repeat;*/
	background: url(images/link_sprite.png) -256px -141px no-repeat;
}

/*
.cup-main-sidebar  .link_section .block_cambridge_go,
.cup-main-sidebar  .link_section .block_cambridge_hotmaths,
.cup-main-sidebar  .link_section .block_cambridge_checkpoints,
.cup-main-sidebar  .link_section .block_elt{
	float: left;
	width: 56px;
	height: 47px;
}

.cup-main-sidebar  .link_section .block_cambridge_go{
	background: url(images/logo_map_224.png) -0px -0px no-repeat;
}

.cup-main-sidebar  .link_section .block_cambridge_hotmaths{
	background: url(images/logo_map_224.png) -56px -0px no-repeat;
}

.cup-main-sidebar  .link_section .block_cambridge_checkpoints{
	background: url(images/logo_map_224.png) -112px -0px no-repeat;
}

.cup-main-sidebar  .link_section .block_elt{
	background: url(images/logo_map_224.png) -168px -0px no-repeat;
}
*/

.cup-main-sidebar  .link_section .content{
	margin-left: 68px;
	/*background: #3392a1;*/
	color: #FFFFFF;
	height: 47px;
	font-size: 0px;
}

.cup-main-sidebar a:hover .link_section .content{
	margin-left: 58px;
	/*background: #3392a1;*/
	color: transparent;
	height: 47px;
}

.cup-main-sidebar  .link_section .content h5{
	/*font-size: 16px;
	line-height: 16px;*/
	font-size: 0px;
	line-height: 0px;
	color: transparent;
	margin: 0px;
	padding: 8px 10px 0px 10px;
	padding: 0px;
}

.cup-main-sidebar  .link_section .content p{
	/*font-size: 12px;
	font-size: 0px;*/
	line-height: 14px;
	line-height: 0px;
	margin: 0px;
	color: transparent;
	padding: 0px 10px;
	padding: 0px;
}

.cup-main-sidebar  a,
.cup-main-sidebar  a:hover,
.cup-main-sidebar  a .link_section .content,
.cup-main-sidebar  a:hover .link_section .content,
.cup-main-sidebar  a .link_section .content h5,
.cup-main-sidebar  a:hover .link_section .content h5,
.cup-main-sidebar  a .link_section .content p,
.cup-main-sidebar  a:hover .link_section .content p{
	text-decoration: none;
}

.cup-main-sidebar  .section-frame li a:hover{
	/*text-decoration: underline;*/
}