/*
		body {
		margin: 0px;
		padding: 0px;
}
*/

#global-nav {
	min-width: 1024px;
}

#global-nav ul#nav {
	padding-left: 0;
	list-style: none;
	width: 100%;
	height: 55px !important;
	line-height: 55px;
	background-color: #181817;
	margin: 0 auto 0;
	font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
	font-size: 12px;
}

#global-nav ul#nav:after { 
	content: "\0020"; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
}

#global-nav ul#nav li {
	float: left;
	color: #82807E;
	font-size: 12px;
	height: 55px;
	line-height: 55px;
	padding: 0 1.3%;
	background-color: #181817;
	margin-left: 0px; /* nick */
}

#global-nav ul#nav li.right{
	float: right;
}

/* 	Manually added */
#global-nav ul#nav li.right ul{
	list-style: none;
}

#global-nav ul#nav li.logo img{
	width: 157px;
	height: 55px;
	display: block;
}

#global-nav ul#nav li.logo a{
	width: 157px;
}


#global-nav ul#nav a {
	display: block;
	background-color: #181817;
	color: #969492;
	font-weight: bold;
	height: 55px;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
}

#global-nav ul#nav a:hover {
	color: #fff;
}

.no-touch #global-nav ul#nav a:hover{
	color: #fff;
}



.no-touch #global-nav ul#nav li:hover a{
	color: #fff;

}

.no-touch #global-nav ul#nav li:hover ul li a{
	color: #82807E;
}



.no-touch #global-nav ul#nav li:hover ul li a:hover{
	color: #fff;
}


#global-nav .reveal-modal{
	background-color: #f8f7f5;
}
#global-nav fieldset form{
	border: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#global-nav ul#nav li.drop{
	padding: 0 19px 0 12px;
	/*
	background: url("http://www.cambridge.org/packages/cambridge_themes/images/down-arrow.png") right 26px no-repeat;
	*/
	background: url(images/cup/down-arrow.png) right 26px no-repeat;
	margin: 0 0 0 0;
}


.no-touch #global-nav ul#nav li.drop:hover{
	background-position: right -23px;
	cursor: pointer;
}



#global-nav ul#nav li.navLocation{
	margin: 0 0 0 0;
	padding: 0 0 0 12px;
}


.lt-ie9 #global-nav ul#nav li.navLocation{
	max-width: 230px;
	overflow: hidden;
}


.no-touch #global-nav ul#nav li.navLocation:hover{
	background-position: right -23px;
	cursor: pointer;
}


#global-nav ul#nav li.navLocation a{
	font-weight: bold;
	font-size: 12px;
	padding: 0 0 0 22px;
	/*
	background: url("http://www.cambridge.org/packages/cambridge_themes/images/sprite.png") left -212px no-repeat;
	*/
	background: url(images/cup/sprite.png) left -212px no-repeat;
}


.no-touch #global-nav ul#nav li.navLocation a:hover, #content ul#nav li.navLocation:hover a{
	background-position: left -292px;
}

#global-nav ul#nav li.drop ul {
	position: absolute;
	width: 200px;
	left: -999999px;
	z-index: 30;
	clear: left;
	list-style: none;
	margin-left: 0px;
	padding-left: 0px; /* Nick - get this working without foundation included */
}



#global-nav ul#nav li.drop:hover ul{
	left: auto;
}




#global-nav ul#nav li.drop ul li{
	width: 200px;
	margin-bottom: 1px;
	height: 40px;
	line-height: 40px;
	/*
	background: url("http://www.cambridge.org/packages/cambridge_themes/images/dropdown-back.png") 0 0 repeat;
	*/
	background: url(images/cup/dropdown-back.png) 0 0 repeat;
	padding: 0 10px 0 10px;
}

#content ul#nav li.navLocation a {
	/*
	background: url("http://www.cambridge.org/packages/cambridge_themes/images/sprite.png") no-repeat scroll left -212px transparent;
	*/
	background: url(images/cup/sprite.png) left -212px no-repeat;
	font-size: 12px;
	font-weight: bold;
	padding: 0 0 0 22px;
}

#global-nav ul#nav li.drop ul li a{
	height: 40px;
	line-height: 40px;
	background: none;
}

.no-touch #global-nav ul#nav li.drop:hover ul {
	left: auto;
}


/* -----------------------------------------
	  MAX WIDTH 1100px
----------------------------------------- */


@media only screen and (max-width: 1200px) {

	#global-nav ul#nav li {
		padding: 0 0.8% !important;
	}
	
	#global-nav ul#nav li.drop {
		padding: 0 18px !important;
	}
}




/* -----------------------------------------
   MAX WIDTH 1024px
----------------------------------------- */


@media only screen and (max-width: 1024px) {

	#global-nav ul#nav li {
		padding: 0 0.64% !important;
	}


}






/* -----------------------------------------
   MAX WIDTH 980px
----------------------------------------- */


@media only screen and (max-width: 980px) {
	#global-nav ul#nav li {
		padding: 0 0.6% !important;
	}
}


/* -----------------------------------------
   END OF MAX_WIDTH 980px
----------------------------------------- */















/* -----------------------------------------
   MAX WIDTH 850px
----------------------------------------- */


@media only screen and (max-width: 870px) {

	#global-nav ul#nav li {
		padding: 0 0.53% !important;
	}
}


/* -----------------------------------------
   END OF MAX_WIDTH 850px
----------------------------------------- */

















/* -----------------------------------------
   MAX WIDTH 767px
----------------------------------------- */


@media only screen and (max-width: 767px) {
	#global-nav ul#nav li {
		padding: 0 0.5% !important;
	}
}


/* -----------------------------------------
   END OF MAX_WIDTH 767px
----------------------------------------- */
