@charset "UTF-8";
/* CSS Document */

.cupglobal-sub-menu {
	border-right: 1px solid #c2dee3;
	height: 100%;
	}

.cupglobal-sub-menu .item {
	background-color: #ebf4f6;
	border: 1px 0 #c2dee3;
	padding: 8px;
}
	
.cupglobal-sub-menu .item:hover {
	background-color: #c2dee3;
}
	
.cupglobal-sub-menu .item h3 {
	color: #777777;
	font-size: 14px;
	padding: 0;
	margin: 0;
}
.cupglobal-sub-menu .item h3 a, 
.cupglobal-sub-menu .item h3 a:link, 
.cupglobal-sub-menu .item h3 a:visited, 
.cupglobal-sub-menu .item h3 a:hover, 
.cupglobal-sub-menu .item h3 a:active, 
.cupglobal-sub-menu a:hover  {
	color: #777777; 
	background-color: transparent!important;
}
.cupglobal-sub-menu .active {
	background-color: #c2dee3;
	}
.cupglobal-sub-menu .spacer {
	height: 5px; 
	width: 1px;
	}


.cup-content-area-main {
	color: #333333;
	}

.cup-content-area-main a, 
.cup-content-area-main a:link, 
.cup-content-area-main a:visited {
	color: #333333; 
	font-weight: bold; 
	text-decoration: none;
	}
.cup-content-area-main a:hover, 
.cup-content-area-main a:active {
	background-color: #f9d55b;
	}
.cup-content-area-main a.plain:hover, 
.cup-content-area-main a.plain:active {
	background-color: none; 
	text-decoration: underline;
	}

.cup-content-area-main h2 {
	font-size: 16px; 
	font-weight: bold;
	}

.cup-menu-frame a, 
.cup-menu-frame a:link, 
.cup-menu-frame a:visited,  
.cup-menu-frame a:hover {
	font-weight: normal;
}

div#ccm-content, div.ccm-content {
    margin: 60px auto;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.ccm-pane-header {
    background-clip: padding-box;
    background-color: #e4e4e4;
    background-image: -moz-linear-gradient(center top , #f1f1f1, #d1d1d1);
    background-repeat: repeat-x;
    border-bottom: 1px solid #eee;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 5px 20px;
    position: relative;
}

.ccm-pane-header h3 {
    display: inline;
    font-size: 24px;
    line-height: 36px;
}

.ccm-pane {
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.ccm-pane-body {
    background-color: #fff;
    padding: 15px 19px;
}

.ccm-pane-footer {
    background-color: #f5f5f5;
    border-radius: 0 0 6px 6px;
    border-top: 1px solid #ddd;
    box-shadow: 0 1px 0 #fff inset;
    margin-bottom: 0;
    padding: 14px 20px 15px;
}

.ccm-pane legend {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #eee;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #333;
    display: block;
    font-size: 19px;
    line-height: 35px;
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
}

.ccm-pane fieldset{
    border: 0 none;
}

.ccm-pane .clearfix2{
    padding: 0 40px;
    line-height: 40px;
}

.ccm-pane .text-label2{
    font-size: 15px;
    font-weight: normal !important;
    display: inline;
    line-height: 25px;
}

.ccm-pane .text-controls{
    display: inline-block;
    margin-left: 10px;
}

.ccm-pane input{
    font-size: 14px;
}

.ccm-pane a{
    color: #08c !important;
}

.ccm-pane .btn.primary {
    background-color: #0074cc;
    background-image: -moz-linear-gradient(center top , #08c, #05c);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #fff !important;
    float: left !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 5px 10px;
    
}

.ccm-pane .btn.primary:hover {
    background-image: -moz-linear-gradient(center top , #05c, #05c);
}

thead{
    background-color: #ddd;
}
