body{
	border: 0px;
	margin: 0px;
}

.frame_header{
	width: 100%;
	min-width: 1024px;
	height: 0px; 
	background: url(images/logo_cambridge_university_press_50.gif) no-repeat #000000;
	text-align: center;
	font-family:  'netto_otregular';
}

.frame_body{
	text-align: center;
	font-family: PT Sans;
	background: #f5fafa;
}


.frame_body a{
	font-weight: bold;
	color: #333;
}

.frame_body a:hover{
	background: #28FF00;
	text-decoration: none;
	color: #333;
}

.frame_body a.plain{
	font-weight: bold;
	color: #333;
}

.frame_body a.plain:hover{
	background: transparent;
	text-decoration: none;
	color: #333;
}

.frame_footer{
	min-width: 1024px;
	text-align: center;
	border: 0px;
	border-top: 1px solid #000000;
	background: #000000;
	color: #FFFFFF;
}

.frame_footer .h20{
	min-width: 1024px;
}

.frame_footer .h10.w5{
	min-width: 1024px;
}

.frame_footer a{
	color: #FFFFFF;
}

.frame_footer a:hover{
	color: #FBD765;
	text-decoration: none;
}

.frame_content{
	width: 1024px;
	margin: 0px auto;
}

.frame_header .frame_content{
	color: #FFFFFF;
	/* background: #000000; */
	font-family:  'netto_otregular';
}

.frame_header .frame_content .btn_element{
	float: left;
	margin: 0px 20px;
	line-height: 50px;
	font-size: 14px;
	color: #858585;
	letter-spacing:1px;
	
}

.frame_header .frame_content .btn_element a,
.frame_header .frame_content .btn_element a:visited,
.frame_header .frame_content .btn_element a:link,
.frame_header .frame_content .btn_element a:active{
	text-decoration: none;
	color: #858585;
}

.frame_header .frame_content .btn_location{
	float: right;
	line-height: 50px;
	font-size: 15px;
	font-family: Arial;
	margin-right: 5px;
	color: #FFFFFF;
	margin-top: -53px;
}

.frame_header .frame_content .btn_location #global_current_locate{
	width: 120px;
	background: #181817;
	color: #858585;
	border: 0px;
	padding-left: 5px;
}

.frame_header .frame_content .btn_element a:hover{
	text-decoration: none;
	color: #FFFFFF;
}

.frame_footer .frame_content{
	background: #333333;
	color: #FFFFFF;
}

.frame_footer .frame_content .block_frame{
	margin: 0px auto;
	width: 1001px;
}

.frame_footer .frame_content .block_frame .section-left,
.frame_footer .frame_content .block_frame .section-right{
	float: left;
	width: 500px;
	text-align: left;
	height: 160px;
}

.frame_footer .frame_content .block_frame .section-left{
	border-right: 1px solid #000000;
}

.frame_footer .frame_content .block_frame .section-left .content_area,
.frame_footer .frame_content .block_frame .section-right .content_area{
	margin: 0px 30px;
	padding: 10px 0px;
}

.frame_footer .frame_content .block_frame .section-right .content_area{
	margin-left: 40px;
}

.frame_body .frame_content{
	border: 1px solid #cfe5e9;
	border-top: 0px;
	text-align: left;
}

.cup-menu-frame{
	float: right;
	margin: 0px;
	border: 0px;
	/* width: 710px; */
	height: 40px;
	font-family: 'netto_otregular';
}

.cup-menu-frame .yellow_bar{
	height: 5px;
	background: #f9d55b;
}

.cup-menu-frame .green_bar{
	height: 5px;
	background: #4bcd32;
}

.cup-menu-frame .master-frame{
	margin-top: 2px;
	height: 33px;
	/*background: #333333;*/
}

.cup-menu-frame .master-frame .btn_home{
	float: left;
	width: 28px;
	height: 28px;
	background: url(images/btn_top_menu_home.gif) no-repeat #333333;
}

.cup-menu-frame .master-frame .btn_shopping_cart,
.cup-menu-frame .master-frame .btn_my_account,
.cup-menu-frame .master-frame .btn_how_to_order,
.cup-menu-frame .master-frame .btn_find_a_book_seller,
.cup-menu-frame .master-frame .btn_contact_us{
	float: left;
	margin: 0px 0px 0px 2px;
	padding: 0px 10px;
	line-height: 28px;
	height: 28px;
	background: #333333;
	color: #FFFFFF;
}

.cup-menu-frame .master-frame .btn{
	float: left;
	margin: 0px 0px 0px 2px;
	padding: 0px 10px;
	line-height: 28px;
	height: 28px;
	background: #333333;
	color: #FFFFFF;
	letter-spacing:1px;
}

.cup-menu-frame .master-frame .btn.home{
	float: left;
	background: url(images/btn_top_menu_home.gif) no-repeat #333333;
	margin: 0px 0px 0px 0px;
	padding-left: 29px;
}

.cup-menu-frame .master-frame .btn.facebook{
	background: url(images/facebook_sprite.jpg) no-repeat #333333;
	margin: 0px 0px 0px 0px;
	width: 188px;
	height: 32px;
	padding: 0px;
}

.cup-menu-frame .master-frame a .btn,
.cup-menu-frame .master-frame a:visited .btn,
.cup-menu-frame .master-frame a:link .btn,
.cup-menu-frame .master-frame a :active.btn{
	float: left;
	margin: 0px 0px 0px 2px;
	padding: 0px 10px;
	line-height: 32px;
	height: 32px;
	background: #333333;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
}

.cup-menu-frame .master-frame a .btn.home,
.cup-menu-frame .master-frame a:visited .btn.home,
.cup-menu-frame .master-frame a:link .btn.home,
.cup-menu-frame .master-frame a:active .btn.home{
	float: left;
	background: url(images/comp_home_sprite.png) 0px -64px no-repeat #333333;
	margin: 0px 0px 0px 0px;
	padding-left: 29px;
	text-decoration: none;
}

.cup-menu-frame .master-frame a .btn.facebook,
.cup-menu-frame .master-frame a:visited .btn.facebook,
.cup-menu-frame .master-frame a:link .btn.facebook,
.cup-menu-frame .master-frame a:active .btn.facebook{
	background: url(images/facebook_sprite.jpg) no-repeat #333333;
	float: left;
	margin: 0px 0px 0px 0px;
	text-decoration: none;
	padding: 0px;
}

.cup-menu-frame .master-frame a:hover{
	text-decoration: none;
}

.cup-menu-frame .master-frame a:hover .btn{
	float: left;
	margin: 0px 0px 0px 2px;
	padding: 0px 10px;
	line-height: 32px;
	height: 32px;
	background: #28FF00;
	color: #FFFFFF;
	text-decoration: none;
	color:#333333;
}

.cup-menu-frame .master-frame a:hover .btn.facebook{
	background: url(images/facebook_sprite.jpg) 0px -32px no-repeat #333333;
	float: left;
	margin: 0px 0px 0px 0px;
	text-decoration: none;
	padding: 0px;
}

.cup-menu-frame .master-frame a:hover .btn.home{
	float: left;
	background: url(images/comp_home_sprite.png) 0px -32px no-repeat #28FF00;
	margin: 0px 0px 0px 0px;
	padding-left: 29px;
	text-decoration: none;
	color:#333333;
}




.cup-menu-bottom-frame{
	margin:0px auto;
	width: 1024px;
	text-align: center;
	border-bottom: 10px solid #4bcd32;
}

.cup-menu-bottom-frame .master-frame{
	margin:0px auto;
	width: 971px;
	
}

.cup-menu-bottom-frame .master-frame .button-frame{
	float: left;
	width: 315px;
	height: 72px;
	margin: 0px 10px 0px 0px;
	background: #d6e9ec;
	border: 1px solid #c7e1e5;
}

.cup-menu-bottom-frame .master-frame .button-frame.end{
	margin: 0px;
}

.cup-menu-bottom-frame .master-frame .button-frame.btn_view_sample_pages{
	background: url(images/btn_footer_view_sample_pages.gif) no-repeat;
}

.cup-menu-bottom-frame .master-frame .button-frame.btn_order_inspection{
	background: url(images/btn_footer_order_inspection.gif) no-repeat;
}

.cup-menu-bottom-frame .master-frame .button-frame.btn_cambridge_go{
	background: url(images/btn_footer_cambridge_go.gif) no-repeat;
}

.cup-menu-bottom-frame .master-frame a:hover .button-frame.btn_view_sample_pages{
	background: url(images/btn_footer_view_sample_pages.gif) -0px -72px no-repeat; 
	border: 1px solid #3392a1;
}

.cup-menu-bottom-frame .master-frame a:hover .button-frame.btn_order_inspection{
	background: url(images/btn_footer_order_inspection.gif) -0px -72px  no-repeat;
	border: 1px solid #3392a1;
}

.cup-menu-bottom-frame .master-frame a:hover .button-frame.btn_cambridge_go{
	background: url(images/btn_footer_cambridge_go.gif) -0px -72px no-repeat;
	border: 1px solid #3392a1;
}



.frame_content_bottom{
	margin:0px auto;
	width: 1024px;
	background: #000000;
	color: #FFFFFF;
	text-align: center;
}

.frame_content_bottom .content_master_block{
	width: 1023px;
	margin: 0px auto;
	text-align: left;
	border-top: 5px solid #000000;
}

.frame_content_bottom .content_master_block .section{
	float: left;
	width: 255px;
	height: 140px;
	margin: 0px 1px 0px 0px;
	text-align: left;
	background: #333333;
}

.frame_content_bottom .content_master_block .section.end{
	margin: 0px;
}

.frame_content_bottom .content_master_block .section h5{
	margin-left: 40px;
	font-style: italic;
	font-family: PT sans;
	font-size: 14px;
}

.frame_content_bottom .content_master_block .section ul{
	margin:0px;
	padding: 0px;
}

.frame_content_bottom .content_master_block .section li{
	list-style: none;
	margin-bottom: 5px;
	padding-left: 40px;
}

.frame_content_bottom .content_master_block .section li:hover{
	background: #28FF00;
}

.frame_content_bottom .content_master_block .section li.no_style{
	background: transparent;
}

.frame_content_bottom .content_master_block .section li.twitter{
	background: url(images/twitter_logo_22.png) no-repeat 40px center;
	padding-left: 68px;
	line-height: 22px;
}

.frame_content_bottom .content_master_block .section li.google_plus{
	background: url(images/google_plus_logo_22.png) no-repeat 40px center;
	padding-left: 68px;
	line-height: 22px;
}

.frame_content_bottom .content_master_block .section li.youtube{
	background: url(images/youtube_logo_22.png) no-repeat 40px center;
	padding-left: 68px;
	line-height: 22px;
}

.frame_content_bottom .content_master_block .section li:hover.twitter{
	background: url(images/twitter_logo_22.png) no-repeat 40px center #28FF00;
	padding-left: 68px;
	line-height: 22px;
}

.frame_content_bottom .content_master_block .section li:hover.google_plus{
	background: url(images/google_plus_logo_22.png) no-repeat 40px center #28FF00;
	padding-left: 68px;
	line-height: 22px;
}

.frame_content_bottom .content_master_block .section li:hover.youtube{
	background: url(images/youtube_logo_22.png) no-repeat 40px center #28FF00;
	padding-left: 68px;
	line-height: 22px;
}

.frame_content_bottom .content_master_block .section li a,
.frame_content_bottom .content_master_block .section li a:active,
.frame_content_bottom .content_master_block .section li a:link,
.frame_content_bottom .content_master_block .section li a:visited{
	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;
}

.frame_content_bottom .content_master_block .section li a:hover{
	color: #333333;
	text-decoration: none;
	font-weight: normal;
}


.frame_content_bottom .homepage_footer_content{
	background: #333333;
	color: #FFFFFF;
}

.frame_content_bottom .homepage_footer_content .block_frame{
	border-top: 1px solid #000000;
	margin: 0px auto;
	width: 1001px;
}

.frame_content_bottom .homepage_footer_content .section-left,
.frame_content_bottom .homepage_footer_content .section-right{
	float: left;
	width: 500px;
	text-align: left;
	height: 160px;
}

.frame_content_bottom .homepage_footer_content .section-left{
	border-right: 1px solid #000000;
}

.frame_content_bottom .homepage_footer_content .block_frame .section-left .content_area,
.frame_content_bottom .homepage_footer_content .block_frame .section-right .content_area{
	margin: 0px 30px;
	padding: 10px 0px;
}

.frame_content_bottom .homepage_footer_content .block_frame .section-right .content_area{
	margin-left: 40px;
}



/************/



.cup-banner{
	height: 80px;
	background: url(images/banner_competition_logo.gif) no-repeat;
}

.cup-banner.hsc{
	height: 80px;
	background: url(images/comp_head_hsc.png) no-repeat 30px center;
}

.cup-banner.vce{
	height: 80px;
	background: url(images/comp_head_vce.png) no-repeat 30px center;
}

.cup-content-area-main{
	text-align: left;
	padding:0px;
	margin:0px;
}

.cup-content-area-main.with-right-sidebar{
	margin:0px 260px 0px 0px;
}

.cup-content-area-right-sidebar{
	float: right;
	width: 260px;
}

.left{
	float: left;
}

.right{
	float: right;
}

.clr{
	clear: both;
}

.clr.empty{
	width:1px;
	height:0px;
}

.w5{
	width: 5px;
}

.w10{
	width: 10px;
}

.w15{
	width: 15px;
}

.w20{
	width: 20px;
}

.h5{
	height: 5px;
}

.h10{
	height: 10px;
}

.h15{
	height: 15px;
}

.h20{
	height: 20px;
}


div.cup_content_block{

}

div.cup_content_block ul{
	padding: 0px;
	margin: 0px;
}

div.cup_content_block ul li{
	padding: 0px 0px 8px 20px;
	margin: 0px;
	list-style: none;
	background: url(images/list-icon-dark-18.png) no-repeat;
}
